<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eshop4j.web.dao.ActActivityPrizeStrategyMapper">
	<!-- Result Map-->
	<resultMap  type="com.eshop4j.web.model.ActActivityPrizeStrategy" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="activity_id" property="activityId" jdbcType="VARCHAR"/>
		<result column="strategy_type" property="strategyType" jdbcType="INTEGER"/>
		<result column="prize_style" property="prizeStyle" jdbcType="INTEGER"/>
		<result column="issue_times" property="issueTimes" jdbcType="INTEGER"/>
		<result column="condition_case" property="conditionCase" jdbcType="INTEGER"/>
		<result column="extends1" property="extends1" jdbcType="VARCHAR"/>
		<result column="extends2" property="extends2" jdbcType="VARCHAR"/>
		<result column="extends3" property="extends3" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	activity_id,
	    	strategy_type,
	    	prize_style,
	    	issue_times,
	    	condition_case,
	    	extends1,
	    	extends2,
	    	extends3,
    </trim>
  </sql>
  
 <sql id="Base_Column_List_T">
    <trim suffixOverrides=",">
	    	t.id,
	    	t.activity_id,
	    	t.strategy_type,
	    	t.prize_style,
	    	t.issue_times,
	    	t.condition_case,
	    	t.extends1,
	    	t.extends2,
	    	t.extends3,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != activityId and ''!= activityId  ">
			and activity_id = #{activityId}
		</if>
		<if test=" null != strategyType ">
			and strategy_type = #{strategyType}
		</if>
		<if test=" null != prizeStyle ">
			and prize_style = #{prizeStyle}
		</if>
		<if test=" null != issueTimes ">
			and issue_times = #{issueTimes}
		</if>
		<if test=" null != conditionCase ">
			and condition_case = #{conditionCase}
		</if>
		<if test=" null != extends1 and ''!= extends1  ">
			and extends1 = #{extends1}
		</if>
		<if test=" null != extends2 and ''!= extends2  ">
			and extends2 = #{extends2}
		</if>
		<if test=" null != extends3 and ''!= extends3  ">
			and extends3 = #{extends3}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy">
		select <include refid="Base_Column_List" /> from tact_activity_prize_strategy 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy">
		select <include refid="Base_Column_List" /> from tact_activity_prize_strategy 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tact_activity_prize_strategy
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tact_activity_prize_strategy
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy" >
    INSERT INTO tact_activity_prize_strategy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != activityId and ''!= activityId  ">
					activity_id,
				</if>
			 	<if test=" null != strategyType ">
					strategy_type,
				</if>
			 	<if test=" null != prizeStyle ">
					prize_style,
				</if>
			 	<if test=" null != issueTimes ">
					issue_times,
				</if>
			 	<if test=" null != conditionCase ">
					condition_case,
				</if>
			 	<if test=" null != extends1 and ''!= extends1  ">
					extends1,
				</if>
			 	<if test=" null != extends2 and ''!= extends2  ">
					extends2,
				</if>
			 	<if test=" null != extends3 and ''!= extends3  ">
					extends3,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != activityId and ''!= activityId  ">
					 	#{activityId},
				</if>
			 	<if test=" null != strategyType ">
					 	#{strategyType},
				</if>
			 	<if test=" null != prizeStyle ">
					 	#{prizeStyle},
				</if>
			 	<if test=" null != issueTimes ">
					 	#{issueTimes},
				</if>
			 	<if test=" null != conditionCase ">
					 	#{conditionCase},
				</if>
			 	<if test=" null != extends1 and ''!= extends1  ">
					 	#{extends1},
				</if>
			 	<if test=" null != extends2 and ''!= extends2  ">
					 	#{extends2},
				</if>
			 	<if test=" null != extends3 and ''!= extends3  ">
					 	#{extends3},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tact_activity_prize_strategy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != activityId and ''!= activityId  ">
					activity_id,
				</if>
			 	<if test=" null != strategyType ">
					strategy_type,
				</if>
			 	<if test=" null != prizeStyle ">
					prize_style,
				</if>
			 	<if test=" null != issueTimes ">
					issue_times,
				</if>
			 	<if test=" null != conditionCase ">
					condition_case,
				</if>
			 	<if test=" null != extends1 and ''!= extends1  ">
					extends1,
				</if>
			 	<if test=" null != extends2 and ''!= extends2  ">
					extends2,
				</if>
			 	<if test=" null != extends3 and ''!= extends3  ">
					extends3,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != activityId and ''!= activityId  ">
					 	#{activityId},
				</if>
			 	<if test=" null != strategyType ">
					 	#{strategyType},
				</if>
			 	<if test=" null != prizeStyle ">
					 	#{prizeStyle},
				</if>
			 	<if test=" null != issueTimes ">
					 	#{issueTimes},
				</if>
			 	<if test=" null != conditionCase ">
					 	#{conditionCase},
				</if>
			 	<if test=" null != extends1 and ''!= extends1  ">
					 	#{extends1},
				</if>
			 	<if test=" null != extends2 and ''!= extends2  ">
					 	#{extends2},
				</if>
			 	<if test=" null != extends3 and ''!= extends3  ">
					 	#{extends3},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy" >
  		UPDATE tact_activity_prize_strategy
		<set>
			<trim suffixOverrides=",">
					<if test=" null != activityId and ''!= activityId  ">
						activity_id = #{activityId},
					</if>
					<if test=" null != strategyType ">
						strategy_type = #{strategyType},
					</if>
					<if test=" null != prizeStyle ">
						prize_style = #{prizeStyle},
					</if>
					<if test=" null != issueTimes ">
						issue_times = #{issueTimes},
					</if>
					<if test=" null != conditionCase ">
						condition_case = #{conditionCase},
					</if>
					<if test=" null != extends1 and ''!= extends1  ">
						extends1 = #{extends1},
					</if>
					<if test=" null != extends2 and ''!= extends2  ">
						extends2 = #{extends2},
					</if>
					<if test=" null != extends3 and ''!= extends3  ">
						extends3 = #{extends3},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.eshop4j.web.model.ActActivityPrizeStrategy" >
	    UPDATE tact_activity_prize_strategy
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != activityId and ''!= activityId  ">
						activity_id = #{activityId},
					</if>
					<if test=" null != strategyType ">
						strategy_type = #{strategyType},
					</if>
					<if test=" null != prizeStyle ">
						prize_style = #{prizeStyle},
					</if>
					<if test=" null != issueTimes ">
						issue_times = #{issueTimes},
					</if>
					<if test=" null != conditionCase ">
						condition_case = #{conditionCase},
					</if>
					<if test=" null != extends1 and ''!= extends1  ">
						extends1 = #{extends1},
					</if>
					<if test=" null != extends2 and ''!= extends2  ">
						extends2 = #{extends2},
					</if>
					<if test=" null != extends3 and ''!= extends3  ">
						extends3 = #{extends3},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.eshop4j.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tact_activity_prize_strategy
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>

</mapper>