<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eshop4j.web.dao.CimProductUnrecordInvestMapper">
	<!-- Result Map-->
	<resultMap  type="com.eshop4j.web.model.cim.CimProductUnrecordInvest" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="cfplanner_id" property="cfplannerId" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="user_mobile" property="userMobile" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="platfrom" property="platfrom" jdbcType="VARCHAR"/>
		<result column="platfrom_name" property="platfromName" jdbcType="VARCHAR"/>
		<result column="product_name" property="productName" jdbcType="VARCHAR"/>
		<result column="product_dead_line_type" property="productDeadLineType" jdbcType="INTEGER"/>
		<result column="product_dead_line_value" property="productDeadLineValue" jdbcType="INTEGER"/>
		<result column="product_dead_line" property="productDeadLine" jdbcType="VARCHAR"/>
		<result column="fee_rate" property="feeRate" jdbcType="DECIMAL"/>
		<result column="fee_amt" property="feeAmt" jdbcType="DECIMAL"/>
		<result column="invest_id" property="investId" jdbcType="VARCHAR"/>
		<result column="invest_amt" property="investAmt" jdbcType="DECIMAL"/>
		<result column="invest_time" property="investTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="invest_img" property="investImg" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	cfplanner_id,
	    	user_id,
	    	user_mobile,
	    	user_name,
	    	platfrom,
	    	platfrom_name,
	    	product_name,
	    	product_dead_line_type,
	    	product_dead_line_value,
	    	product_dead_line,
	    	fee_rate,
	    	fee_amt,
	    	invest_id,
	    	invest_amt,
	    	invest_time,
	    	end_time,
	    	invest_img,
	    	status,
	    	remark,
	    	create_time,
	    	update_time,
	    	operator,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != cfplannerId and ''!= cfplannerId  ">
			and cfplanner_id = #{cfplannerId}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != userMobile and ''!= userMobile  ">
			and user_mobile = #{userMobile}
		</if>
		<if test=" null != userName and ''!= userName  ">
			and user_name = #{userName}
		</if>
		<if test=" null != platfrom and ''!= platfrom  ">
			and platfrom = #{platfrom}
		</if>
		<if test=" null != platfromName and ''!= platfromName  ">
			and platfrom_name = #{platfromName}
		</if>
		<if test=" null != productName and ''!= productName  ">
			and product_name = #{productName}
		</if>
		<if test=" null != productDeadLineType ">
			and product_dead_line_type = #{productDeadLineType}
		</if>
		<if test=" null != productDeadLineValue ">
			and product_dead_line_value = #{productDeadLineValue}
		</if>
		<if test=" null != productDeadLine and ''!= productDeadLine  ">
			and product_dead_line = #{productDeadLine}
		</if>
		<if test=" null != feeRate ">
			and fee_rate = #{feeRate}
		</if>
		<if test=" null != feeAmt ">
			and fee_amt = #{feeAmt}
		</if>
		<if test=" null != investId and ''!= investId  ">
			and invest_id = #{investId}
		</if>
		<if test=" null != investAmt ">
			and invest_amt = #{investAmt}
		</if>
		<if test=" null != investTime ">
			and invest_time = #{investTime}
		</if>
		<if test=" null != endTime ">
			and end_time = #{endTime}
		</if>
		<if test=" null != investImg and ''!= investImg  ">
			and invest_img = #{investImg}
		</if>
		<if test=" null != status ">
			and status = #{status}
		</if>
		<if test=" null != remark and ''!= remark  ">
			and remark = #{remark}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != updateTime ">
			and update_time = #{updateTime}
		</if>
		<if test=" null != operator and ''!= operator  ">
			and operator = #{operator}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest">
		select <include refid="Base_Column_List" /> from tcim_product_unrecord_invest 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest">
		select <include refid="Base_Column_List" /> from tcim_product_unrecord_invest 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcim_product_unrecord_invest
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcim_product_unrecord_invest
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest" >
    INSERT INTO tcim_product_unrecord_invest
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != cfplannerId and ''!= cfplannerId  ">
					cfplanner_id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != userMobile and ''!= userMobile  ">
					user_mobile,
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					user_name,
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					platfrom,
				</if>
			 	<if test=" null != platfromName and ''!= platfromName  ">
					platfrom_name,
				</if>
			 	<if test=" null != productName and ''!= productName  ">
					product_name,
				</if>
			 	<if test=" null != productDeadLineType ">
					product_dead_line_type,
				</if>
			 	<if test=" null != productDeadLineValue ">
					product_dead_line_value,
				</if>
			 	<if test=" null != productDeadLine and ''!= productDeadLine  ">
					product_dead_line,
				</if>
			 	<if test=" null != feeRate ">
					fee_rate,
				</if>
			 	<if test=" null != feeAmt ">
					fee_amt,
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					invest_id,
				</if>
			 	<if test=" null != investAmt ">
					invest_amt,
				</if>
			 	<if test=" null != investTime ">
					invest_time,
				</if>
			 	<if test=" null != endTime ">
					end_time,
				</if>
			 	<if test=" null != investImg and ''!= investImg  ">
					invest_img,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					operator,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != cfplannerId and ''!= cfplannerId  ">
					 	#{cfplannerId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != userMobile and ''!= userMobile  ">
					 	#{userMobile},
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					 	#{userName},
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					 	#{platfrom},
				</if>
			 	<if test=" null != platfromName and ''!= platfromName  ">
					 	#{platfromName},
				</if>
			 	<if test=" null != productName and ''!= productName  ">
					 	#{productName},
				</if>
			 	<if test=" null != productDeadLineType ">
					 	#{productDeadLineType},
				</if>
			 	<if test=" null != productDeadLineValue ">
					 	#{productDeadLineValue},
				</if>
			 	<if test=" null != productDeadLine and ''!= productDeadLine  ">
					 	#{productDeadLine},
				</if>
			 	<if test=" null != feeRate ">
					 	#{feeRate},
				</if>
			 	<if test=" null != feeAmt ">
					 	#{feeAmt},
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					 	#{investId},
				</if>
			 	<if test=" null != investAmt ">
					 	#{investAmt},
				</if>
			 	<if test=" null != investTime ">
					 	#{investTime},
				</if>
			 	<if test=" null != endTime ">
					 	#{endTime},
				</if>
			 	<if test=" null != investImg and ''!= investImg  ">
					 	#{investImg},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					 	#{operator},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcim_product_unrecord_invest
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != cfplannerId and ''!= cfplannerId  ">
					cfplanner_id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != userMobile and ''!= userMobile  ">
					user_mobile,
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					user_name,
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					platfrom,
				</if>
			 	<if test=" null != platfromName and ''!= platfromName  ">
					platfrom_name,
				</if>
			 	<if test=" null != productName and ''!= productName  ">
					product_name,
				</if>
			 	<if test=" null != productDeadLineType ">
					product_dead_line_type,
				</if>
			 	<if test=" null != productDeadLineValue ">
					product_dead_line_value,
				</if>
			 	<if test=" null != productDeadLine and ''!= productDeadLine  ">
					product_dead_line,
				</if>
			 	<if test=" null != feeRate ">
					fee_rate,
				</if>
			 	<if test=" null != feeAmt ">
					fee_amt,
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					invest_id,
				</if>
			 	<if test=" null != investAmt ">
					invest_amt,
				</if>
			 	<if test=" null != investTime ">
					invest_time,
				</if>
			 	<if test=" null != endTime ">
					end_time,
				</if>
			 	<if test=" null != investImg and ''!= investImg  ">
					invest_img,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					operator,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != cfplannerId and ''!= cfplannerId  ">
					 	#{cfplannerId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != userMobile and ''!= userMobile  ">
					 	#{userMobile},
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					 	#{userName},
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					 	#{platfrom},
				</if>
			 	<if test=" null != platfromName and ''!= platfromName  ">
					 	#{platfromName},
				</if>
			 	<if test=" null != productName and ''!= productName  ">
					 	#{productName},
				</if>
			 	<if test=" null != productDeadLineType ">
					 	#{productDeadLineType},
				</if>
			 	<if test=" null != productDeadLineValue ">
					 	#{productDeadLineValue},
				</if>
			 	<if test=" null != productDeadLine and ''!= productDeadLine  ">
					 	#{productDeadLine},
				</if>
			 	<if test=" null != feeRate ">
					 	#{feeRate},
				</if>
			 	<if test=" null != feeAmt ">
					 	#{feeAmt},
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					 	#{investId},
				</if>
			 	<if test=" null != investAmt ">
					 	#{investAmt},
				</if>
			 	<if test=" null != investTime ">
					 	#{investTime},
				</if>
			 	<if test=" null != endTime ">
					 	#{endTime},
				</if>
			 	<if test=" null != investImg and ''!= investImg  ">
					 	#{investImg},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != operator and ''!= operator  ">
					 	#{operator},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest" >
  		UPDATE tcim_product_unrecord_invest
		<set>
			<trim suffixOverrides=",">
					<if test=" null != cfplannerId and ''!= cfplannerId  ">
						cfplanner_id = #{cfplannerId},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != userMobile and ''!= userMobile  ">
						user_mobile = #{userMobile},
					</if>
					<if test=" null != userName and ''!= userName  ">
						user_name = #{userName},
					</if>
					<if test=" null != platfrom and ''!= platfrom  ">
						platfrom = #{platfrom},
					</if>
					<if test=" null != platfromName and ''!= platfromName  ">
						platfrom_name = #{platfromName},
					</if>
					<if test=" null != productName and ''!= productName  ">
						product_name = #{productName},
					</if>
					<if test=" null != productDeadLineType ">
						product_dead_line_type = #{productDeadLineType},
					</if>
					<if test=" null != productDeadLineValue ">
						product_dead_line_value = #{productDeadLineValue},
					</if>
					<if test=" null != productDeadLine and ''!= productDeadLine  ">
						product_dead_line = #{productDeadLine},
					</if>
					<if test=" null != feeRate ">
						fee_rate = #{feeRate},
					</if>
					<if test=" null != feeAmt ">
						fee_amt = #{feeAmt},
					</if>
					<if test=" null != investId and ''!= investId  ">
						invest_id = #{investId},
					</if>
					<if test=" null != investAmt ">
						invest_amt = #{investAmt},
					</if>
					<if test=" null != investTime ">
						invest_time = #{investTime},
					</if>
					<if test=" null != endTime ">
						end_time = #{endTime},
					</if>
					<if test=" null != investImg and ''!= investImg  ">
						invest_img = #{investImg},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != operator and ''!= operator  ">
						operator = #{operator},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.eshop4j.web.model.cim.CimProductUnrecordInvest" >
	    UPDATE tcim_product_unrecord_invest
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != cfplannerId and ''!= cfplannerId  ">
						cfplanner_id = #{cfplannerId},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != userMobile and ''!= userMobile  ">
						user_mobile = #{userMobile},
					</if>
					<if test=" null != userName and ''!= userName  ">
						user_name = #{userName},
					</if>
					<if test=" null != platfrom and ''!= platfrom  ">
						platfrom = #{platfrom},
					</if>
					<if test=" null != platfromName and ''!= platfromName  ">
						platfrom_name = #{platfromName},
					</if>
					<if test=" null != productName and ''!= productName  ">
						product_name = #{productName},
					</if>
					<if test=" null != productDeadLineType ">
						product_dead_line_type = #{productDeadLineType},
					</if>
					<if test=" null != productDeadLineValue ">
						product_dead_line_value = #{productDeadLineValue},
					</if>
					<if test=" null != productDeadLine and ''!= productDeadLine  ">
						product_dead_line = #{productDeadLine},
					</if>
					<if test=" null != feeRate ">
						fee_rate = #{feeRate},
					</if>
					<if test=" null != feeAmt ">
						fee_amt = #{feeAmt},
					</if>
					<if test=" null != investId and ''!= investId  ">
						invest_id = #{investId},
					</if>
					<if test=" null != investAmt ">
						invest_amt = #{investAmt},
					</if>
					<if test=" null != investTime ">
						invest_time = #{investTime},
					</if>
					<if test=" null != endTime ">
						end_time = #{endTime},
					</if>
					<if test=" null != investImg and ''!= investImg  ">
						invest_img = #{investImg},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != operator and ''!= operator  ">
						operator = #{operator},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>
	  
	  
	  
    <!-- 获取客户报单记录 -->
    <select id="getCustomerUnrecordInvest" resultType="com.eshop4j.api.response.tc.CustomerUnrecordInvestResponse">
      SELECT
      pui.platfrom_name platfromName,
      pui.product_name productName,
      pui.product_dead_line deadLine,
      pui.product_dead_line_type deadLineType,
      pui.invest_amt investAmt,
      pui.invest_time time,
      o.org_product_url url
    FROM
      tcim_product_unrecord_invest pui LEFT JOIN tcim_org_info o ON pui.platfrom = o.org_number
    WHERE
      pui.user_mobile = (SELECT mobile FROM tcrm_investor i where i.user_id= #{userId} LIMIT 1)  and pui.status=1
      ORDER BY pui.invest_time DESC
    </select>

    <!-- 获取理财师报单 -->
    <select id="getCfplannerUnrecordInvest" resultType="com.eshop4j.api.response.tc.CfplannerUnrecordInvestResponse">
      SELECT
      pui.user_name name,
      pui.user_mobile mobile,
      pui.platfrom_name platfromName,
      pui.invest_amt investAmt,
      pui.product_name productName,
      pui.`status` status,
      pui.remark remark,
      pui.update_time time,
      pui.fee_amt feeAmt
    FROM
      tcim_product_unrecord_invest pui
    WHERE
      pui.cfplanner_id = #{userId}
      ORDER BY pui.update_time DESC
    </select>



     <!-- 获取理财师报单列表 -->
    <select id="getUnrecordInvestList" resultType="com.eshop4j.web.response.tc.UnrecordInvestListResponse">
      SELECT
        pui.id id,
      pui.user_name NAME,
      pui.user_mobile mobile,
      pui.platfrom_name platfromName,
      pui.invest_amt investAmt,
      pui.product_name productName,
      pui.`status` STATUS,
      pui.remark remark,
      pui.invest_img img,
      u.user_name cfpName,
      pui.update_time time
    FROM
      tcim_product_unrecord_invest pui
    LEFT JOIN tcrm_user_info u ON pui.cfplanner_id = u.user_id
    <where>
      1=1
      <if test="null != mobile and ''!= mobile">
        and pui.cfplanner_id = (SELECT user_id FROM tcrm_cfplanner c where c.mobile= #{mobile} LIMIT 1)
      </if>
      <if test="null != status">
        and pui.status = #{status}
      </if>
    </where>
    ORDER BY pui.update_time DESC
    </select>
	  
	  
	 <select id="getCfplannerUnrecordInvestCount" resultType="int">
	 	  SELECT count(*) 
	 	  FROM tcim_product_unrecord_invest pui 
	 	  WHERE pui.cfplanner_id = #{userId}
	 </select>

</mapper>