<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eshop4j.web.dao.ClassroomMapper">
	<!-- Result Map-->
	<resultMap  type="com.eshop4j.web.model.mc.Classroom" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="app_type" property="appType" jdbcType="INTEGER"/>
		<result column="img" property="img" jdbcType="VARCHAR"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="summary" property="summary" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="LONGVARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="creator" property="creator" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="show_inx" property="showInx" jdbcType="INTEGER"/>
		<result column="valid_begin" property="validBegin" jdbcType="TIMESTAMP"/>
		<result column="valid_end" property="validEnd" jdbcType="TIMESTAMP"/>
		<result column="modifiy_time" property="modifiyTime" jdbcType="TIMESTAMP"/>
		<result column="label" property="label" jdbcType="VARCHAR"/>
		<result column="is_stick" property="isStick" jdbcType="SMALLINT"/>
		<result column="link_url" property="linkUrl" jdbcType="VARCHAR"/>
		<result column="share_title" property="shareTitle" jdbcType="VARCHAR"/>
		<result column="share_link" property="shareLink" jdbcType="VARCHAR"/>
		<result column="share_desc" property="shareDesc" jdbcType="VARCHAR"/>
		<result column="share_icon" property="shareIcon" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	app_type,
	    	img,
	    	title,
	    	summary,
	    	content,
	    	status,
	    	creator,
	    	create_time,
	    	show_inx,
	    	valid_begin,
	    	valid_end,
	    	modifiy_time,
	    	label,
	    	is_stick,
	    	link_url,
	    	share_title,
	    	share_link,
	    	share_desc,
	    	share_icon,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != appType ">
			and app_type = #{appType}
		</if>
		<if test=" null != img and ''!= img  ">
			and img = #{img}
		</if>
		<if test=" null != title and ''!= title  ">
			and title = #{title}
		</if>
		<if test=" null != summary and ''!= summary  ">
			and summary = #{summary}
		</if>
		<if test=" null != content and ''!= content  ">
			and content = #{content}
		</if>
		<if test=" null != status ">
			and status = #{status}
		</if>
		<if test=" null != creator and ''!= creator  ">
			and creator = #{creator}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != showInx ">
			and show_inx = #{showInx}
		</if>
		<if test=" null != validBegin ">
			and valid_begin = #{validBegin}
		</if>
		<if test=" null != validEnd ">
			and valid_end = #{validEnd}
		</if>
		<if test=" null != modifiyTime ">
			and modifiy_time = #{modifiyTime}
		</if>
		<if test=" null != label and ''!= label  ">
			and label = #{label}
		</if>
		<if test=" null != isStick ">
			and is_stick = #{isStick}
		</if>
		<if test=" null != linkUrl and ''!= linkUrl  ">
			and link_url = #{linkUrl}
		</if>
		<if test=" null != shareTitle and ''!= shareTitle  ">
			and share_title = #{shareTitle}
		</if>
		<if test=" null != shareLink and ''!= shareLink  ">
			and share_link = #{shareLink}
		</if>
		<if test=" null != shareDesc and ''!= shareDesc  ">
			and share_desc = #{shareDesc}
		</if>
		<if test=" null != shareIcon and ''!= shareIcon  ">
			and share_icon = #{shareIcon}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.mc.Classroom">
		select <include refid="Base_Column_List" /> from tsm_classroom 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.mc.Classroom">
		select <include refid="Base_Column_List" /> from tsm_classroom 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tsm_classroom
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tsm_classroom
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.eshop4j.web.model.mc.Classroom" >
    INSERT INTO tsm_classroom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != appType ">
					app_type,
				</if>
			 	<if test=" null != img and ''!= img  ">
					img,
				</if>
			 	<if test=" null != title and ''!= title  ">
					title,
				</if>
				<if test=" null != summary and ''!= summary  ">
					summary,
				</if>
			 	<if test=" null != content and ''!= content  ">
					content,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != creator and ''!= creator  ">
					creator,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != showInx ">
					show_inx,
				</if>
			 	<if test=" null != validBegin ">
					valid_begin,
				</if>
			 	<if test=" null != validEnd ">
					valid_end,
				</if>
			 	<if test=" null != modifiyTime ">
					modifiy_time,
				</if>
			 	<if test=" null != label and ''!= label  ">
					label,
				</if>
			 	<if test=" null != isStick ">
					is_stick,
				</if>
				<if test=" null != linkUrl and ''!= linkUrl  ">
					link_url,
				</if>
				<if test=" null != shareTitle and ''!= shareTitle  ">
					share_title,
				</if>
			 	<if test=" null != shareLink and ''!= shareLink  ">
					share_link,
				</if>
			 	<if test=" null != shareDesc and ''!= shareDesc  ">
					share_desc,
				</if>
			 	<if test=" null != shareIcon and ''!= shareIcon  ">
					share_icon,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != appType ">
					 	#{appType},
				</if>
			 	<if test=" null != img and ''!= img  ">
					 	#{img},
				</if>
			 	<if test=" null != title and ''!= title  ">
					 	#{title},
				</if>
				<if test=" null != summary and ''!= summary  ">
					 	#{summary},
				</if>
			 	<if test=" null != content and ''!= content  ">
					 	#{content},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != creator and ''!= creator  ">
					 	#{creator},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != showInx ">
					 	#{showInx},
				</if>
			 	<if test=" null != validBegin ">
					 	#{validBegin},
				</if>
			 	<if test=" null != validEnd ">
					 	#{validEnd},
				</if>
			 	<if test=" null != modifiyTime ">
					 	#{modifiyTime},
				</if>
			 	<if test=" null != label and ''!= label  ">
					 	#{label},
				</if>
			 	<if test=" null != isStick ">
					 	#{isStick},
				</if>
				<if test=" null != linkUrl and ''!= linkUrl  ">
					    #{linkUrl},
				</if>
				 	<if test=" null != shareTitle and ''!= shareTitle  ">
					 	#{shareTitle},
				</if>
			 	<if test=" null != shareLink and ''!= shareLink  ">
					 	#{shareLink},
				</if>
			 	<if test=" null != shareDesc and ''!= shareDesc  ">
					 	#{shareDesc},
				</if>
			 	<if test=" null != shareIcon and ''!= shareIcon  ">
					 	#{shareIcon},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop4j.web.model.mc.Classroom" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tsm_classroom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != appType ">
					app_type,
				</if>
			 	<if test=" null != img and ''!= img  ">
					img,
				</if>
			 	<if test=" null != title and ''!= title  ">
					title,
				</if>
				<if test=" null != summary and ''!= summary  ">
					summary,
				</if>
			 	<if test=" null != content and ''!= content  ">
					content,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != creator and ''!= creator  ">
					creator,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != showInx ">
					show_inx,
				</if>
			 	<if test=" null != validBegin ">
					valid_begin,
				</if>
			 	<if test=" null != validEnd ">
					valid_end,
				</if>
			 	<if test=" null != modifiyTime ">
					modifiy_time,
				</if>
			 	<if test=" null != label and ''!= label  ">
					label,
				</if>
			 	<if test=" null != isStick ">
					is_stick,
				</if>
				<if test=" null != linkUrl and ''!= linkUrl  ">
					link_url,
				</if>
				<if test=" null != shareTitle and ''!= shareTitle  ">
					share_title,
				</if>
			 	<if test=" null != shareLink and ''!= shareLink  ">
					share_link,
				</if>
			 	<if test=" null != shareDesc and ''!= shareDesc  ">
					share_desc,
				</if>
			 	<if test=" null != shareIcon and ''!= shareIcon  ">
					share_icon,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != appType ">
					 	#{appType},
				</if>
			 	<if test=" null != img and ''!= img  ">
					 	#{img},
				</if>
			 	<if test=" null != title and ''!= title  ">
					 	#{title},
				</if>
				<if test=" null != summary and ''!= summary  ">
					 	#{summary},
				</if>
			 	<if test=" null != content and ''!= content  ">
					 	#{content},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != creator and ''!= creator  ">
					 	#{creator},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != showInx ">
					 	#{showInx},
				</if>
			 	<if test=" null != validBegin ">
					 	#{validBegin},
				</if>
			 	<if test=" null != validEnd ">
					 	#{validEnd},
				</if>
			 	<if test=" null != modifiyTime ">
					 	#{modifiyTime},
				</if>
			 	<if test=" null != label and ''!= label  ">
					 	#{label},
				</if>
			 	<if test=" null != isStick ">
					 	#{isStick},
				</if>
				<if test=" null != linkUrl and ''!= linkUrl  ">
					    #{linkUrl},
				</if>
				<if test=" null != shareTitle and ''!= shareTitle  ">
					 	#{shareTitle},
				</if>
			 	<if test=" null != shareLink and ''!= shareLink  ">
					 	#{shareLink},
				</if>
			 	<if test=" null != shareDesc and ''!= shareDesc  ">
					 	#{shareDesc},
				</if>
			 	<if test=" null != shareIcon and ''!= shareIcon  ">
					 	#{shareIcon},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop4j.web.model.mc.Classroom" >
  		UPDATE tsm_classroom
		<set>
			<trim suffixOverrides=",">
					<if test=" null != appType ">
						app_type = #{appType},
					</if>
					<if test=" null != img and ''!= img  ">
						img = #{img},
					</if>
					<if test=" null != title and ''!= title  ">
						title = #{title},
					</if>
					<if test=" null != summary and ''!= summary  ">
						summary = #{summary},
					</if>
					<if test=" null != content and ''!= content  ">
						content = #{content},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != creator and ''!= creator  ">
						creator = #{creator},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != showInx ">
						show_inx = #{showInx},
					</if>
					<if test=" null != validBegin ">
						valid_begin = #{validBegin},
					</if>
					<if test=" null != validEnd ">
						valid_end = #{validEnd},
					</if>
					<if test=" null != modifiyTime ">
						modifiy_time = #{modifiyTime},
					</if>
					<if test=" null != label and ''!= label  ">
						label = #{label},
					</if>
					<if test=" null != isStick ">
						is_stick = #{isStick},
					</if>
					<if test=" null != linkUrl and ''!= linkUrl  ">
					    link_url = #{linkUrl},
					</if>
					<if test=" null != shareTitle and ''!= shareTitle  ">
						share_title = #{shareTitle},
					</if>
					<if test=" null != shareLink and ''!= shareLink  ">
						share_link = #{shareLink},
					</if>
					<if test=" null != shareDesc and ''!= shareDesc  ">
						share_desc = #{shareDesc},
					</if>
					<if test=" null != shareIcon and ''!= shareIcon  ">
						share_icon = #{shareIcon},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.eshop4j.web.model.mc.Classroom" >
	    UPDATE tsm_classroom
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != appType ">
						app_type = #{appType},
					</if>
					<if test=" null != img and ''!= img  ">
						img = #{img},
					</if>
					<if test=" null != title and ''!= title  ">
						title = #{title},
					</if>
					<if test=" null != summary and ''!= summary  ">
						summary = #{summary},
					</if>
					<if test=" null != content and ''!= content  ">
						content = #{content},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != creator and ''!= creator  ">
						creator = #{creator},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != showInx ">
						show_inx = #{showInx},
					</if>
					<if test=" null != validBegin ">
						valid_begin = #{validBegin},
					</if>
					<if test=" null != validEnd ">
						valid_end = #{validEnd},
					</if>
					<if test=" null != modifiyTime ">
						modifiy_time = #{modifiyTime},
					</if>
					<if test=" null != label and ''!= label  ">
						label = #{label},
					</if>
					<if test=" null != isStick ">
						is_stick = #{isStick},
					</if>
					<if test=" null != linkUrl and ''!= linkUrl  ">
					    link_url = #{linkUrl},
					</if>
					<if test=" null != shareTitle and ''!= shareTitle  ">
						share_title = #{shareTitle},
					</if>
					<if test=" null != shareLink and ''!= shareLink  ">
						share_link = #{shareLink},
					</if>
					<if test=" null != shareDesc and ''!= shareDesc  ">
						share_desc = #{shareDesc},
					</if>
					<if test=" null != shareIcon and ''!= shareIcon  ">
						share_icon = #{shareIcon},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>
	  
    <select id="queryClassroomList" resultMap="BaseResultMap" >
      SELECT
        <include refid="Base_Column_List" />
        FROM tsm_classroom where status=0 
        AND valid_begin <![CDATA[ <= ]]>NOW() 
		AND valid_end <![CDATA[ >= ]]>NOW() 
        GROUP BY show_inx
  	</select>
  

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.eshop4j.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tsm_classroom where 1=1 
        <!-- <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where> -->
    </select>

</mapper>