<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eshop4j.web.dao.CrmCfplannerMapper">
	<!-- Result Map-->
	<resultMap  type="com.eshop4j.web.model.CrmCfplanner" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="mobile" property="mobile" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
		<result column="qrcode" property="qrcode" jdbcType="VARCHAR"/>
		<result column="emp_no" property="empNo" jdbcType="VARCHAR"/>
		<result column="department" property="department" jdbcType="VARCHAR"/>
		<result column="settlement_type" property="settlementType" jdbcType="TINYINT"/>
		<result column="cfp_level" property="cfpLevel" jdbcType="VARCHAR"/>
		<result column="cfp_reg_time" property="cfpRegTime" jdbcType="TIMESTAMP"/>
		<result column="cfp_benormal_time" property="cfpBenormalTime" jdbcType="TIMESTAMP"/>
		<result column="cfp_update_time" property="cfpUpdateTime" jdbcType="TIMESTAMP"/>
		<result column="level_experience" property="levelExperience" jdbcType="INTEGER"/>
		<result column="head_image" property="headImage" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="disabled_login_time" property="disabledLoginTime" jdbcType="TIMESTAMP"/>
		<result column="easemob_acct" property="easemobAcct" jdbcType="VARCHAR"/>
		<result column="easemob_password" property="easemobPassword" jdbcType="VARCHAR"/>
		<result column="easemob_reg_status" property="easemobRegStatus" jdbcType="INTEGER"/>
		<result column="easemob_nickname_status" property="easemobNicknameStatus" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="is_locked" property="isLocked" jdbcType="TINYINT"/>
		<result column="enable" property="enable" jdbcType="TINYINT"/>
		<result column="del_status" property="delStatus" jdbcType="TINYINT"/>
		<result column="sales_org_id" property="salesOrgId" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap  type="com.eshop4j.web.model.CrmCfplanner" id="BaseResultMap2" extends="BaseResultMap">
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	user_id,
	    	mobile,
	    	email,
	    	parent_id,
	    	qrcode,
	    	emp_no,
	    	department,
	    	settlement_type,
	    	cfp_level,
	    	cfp_reg_time,
	    	cfp_benormal_time,
	    	cfp_update_time,
	    	level_experience,
	    	head_image,
	    	remark,
	    	disabled_login_time,
	    	easemob_acct,
	    	easemob_password,
	    	easemob_reg_status,
	    	easemob_nickname_status,
	    	create_time,
	    	update_time,
	    	is_locked,
	    	enable,
	    	del_status,
	    	sales_org_id,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and t.id = #{id}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and t.user_id = #{userId}
		</if>
		<if test=" null != mobile and ''!= mobile  ">
			and t.mobile = #{mobile}
		</if>
		<if test=" null != email and ''!= email  ">
			and t.email = #{email}
		</if>
		<if test=" null != parentId and ''!= parentId  ">
			and t.parent_id = #{parentId}
		</if>
		<if test=" null != qrcode and ''!= qrcode  ">
			and t.qrcode = #{qrcode}
		</if>
		<if test=" null != empNo and ''!= empNo  ">
			and t.emp_no = #{empNo}
		</if>
		<if test=" null != department and ''!= department  ">
			and t.department = #{department}
		</if>
		<if test=" null != settlementType ">
			and t.settlement_type = #{settlementType}
		</if>
		<if test=" null != cfpLevel and ''!= cfpLevel  ">
			and t.cfp_level = #{cfpLevel}
		</if>
		<if test=" null != cfpRegTime ">
			and t.cfp_reg_time = #{cfpRegTime}
		</if>
		<if test=" null != cfpBenormalTime ">
			and t.cfp_benormal_time = #{cfpBenormalTime}
		</if>
		<if test=" null != cfpUpdateTime ">
			and t.cfp_update_time = #{cfpUpdateTime}
		</if>
		<if test=" null != levelExperience ">
			and t.level_experience = #{levelExperience}
		</if>
		<if test=" null != headImage and ''!= headImage  ">
			and t.head_image = #{headImage}
		</if>
		<if test=" null != remark and ''!= remark  ">
			and t.remark = #{remark}
		</if>
		<if test=" null != disabledLoginTime ">
			and t.disabled_login_time = #{disabledLoginTime}
		</if>
		<if test=" null != easemobAcct and ''!= easemobAcct  ">
			and t.easemob_acct = #{easemobAcct}
		</if>
		<if test=" null != easemobPassword and ''!= easemobPassword  ">
			and t.easemob_password = #{easemobPassword}
		</if>
		<if test=" null != easemobRegStatus and ''!= easemobRegStatus  ">
			and t.easemob_reg_status = #{easemobRegStatus}
		</if>
		<if test=" null != easemobNicknameStatus and ''!= easemobNicknameStatus  ">
			and t.easemob_nickname_status = #{easemobNicknameStatus}
		</if>
		<if test=" null != createTime ">
			and t.create_time = #{createTime}
		</if>
		<if test=" null != updateTime ">
			and t.update_time = #{updateTime}
		</if>
		<if test=" null != isLocked ">
			and t.is_locked = #{isLocked}
		</if>
		<if test=" null != enable ">
			and t.enable = #{enable}
		</if>
		<if test=" null != delStatus ">
			and t.del_status = #{delStatus}
		</if>
		<if test=" null != salesOrgId ">
			and t.sales_org_id = #{salesOrgId}
		</if>
  </sql>

  <select id="selectOneByCondition" resultMap="BaseResultMap2"  parameterType="com.eshop4j.web.model.CrmCfplanner">
		select t.*, u.user_name from tcrm_cfplanner t join tcrm_user_info u on t.user_id=u.user_id
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.CrmCfplanner">
		select t.* from tcrm_cfplanner t
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcrm_cfplanner
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcrm_cfplanner
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.eshop4j.web.model.CrmCfplanner" >
    INSERT INTO tcrm_cfplanner
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != mobile and ''!= mobile  ">
					mobile,
				</if>
			 	<if test=" null != email and ''!= email  ">
					email,
				</if>
			 	<if test=" null != parentId and ''!= parentId  ">
					parent_id,
				</if>
			 	<if test=" null != qrcode and ''!= qrcode  ">
					qrcode,
				</if>
			 	<if test=" null != empNo and ''!= empNo  ">
					emp_no,
				</if>
			 	<if test=" null != department and ''!= department  ">
					department,
				</if>
			 	<if test=" null != settlementType ">
					settlement_type,
				</if>
			 	<if test=" null != cfpLevel and ''!= cfpLevel  ">
					cfp_level,
				</if>
			 	<if test=" null != cfpRegTime ">
					cfp_reg_time,
				</if>
			 	<if test=" null != cfpBenormalTime ">
					cfp_benormal_time,
				</if>
			 	<if test=" null != cfpUpdateTime ">
					cfp_update_time,
				</if>
			 	<if test=" null != levelExperience ">
					level_experience,
				</if>
			 	<if test=" null != headImage and ''!= headImage  ">
					head_image,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
			 	<if test=" null != disabledLoginTime ">
					disabled_login_time,
				</if>
				<if test=" null != registerFromUrl ">
					register_from_url,
				</if>
				<if test=" null != registerAccessUrl ">
					register_access_url,
				</if>
				<if test=" null != easemobAcct and ''!= easemobAcct  ">
					easemob_acct,
				</if>
				<if test=" null != easemobPassword and ''!= easemobPassword  ">
					easemob_password,
				</if>
				create_time = CURRENT_TIMESTAMP,
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != isLocked ">
					is_locked,
				</if>
			 	<if test=" null != enable ">
					enable,
				</if>
			 	<if test=" null != delStatus ">
					del_status,
				</if>
				<if test=" null != salesOrgId ">
					sales_org_id,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != mobile and ''!= mobile  ">
					 	#{mobile},
				</if>
			 	<if test=" null != email and ''!= email  ">
					 	#{email},
				</if>
			 	<if test=" null != parentId and ''!= parentId  ">
					 	#{parentId},
				</if>
			 	<if test=" null != qrcode and ''!= qrcode  ">
					 	#{qrcode},
				</if>
			 	<if test=" null != empNo and ''!= empNo  ">
					 	#{empNo},
				</if>
			 	<if test=" null != department and ''!= department  ">
					 	#{department},
				</if>
			 	<if test=" null != settlementType ">
					 	#{settlementType},
				</if>
			 	<if test=" null != cfpLevel and ''!= cfpLevel  ">
					 	#{cfpLevel},
				</if>
			 	<if test=" null != cfpRegTime ">
					 	#{cfpRegTime},
				</if>
			 	<if test=" null != cfpBenormalTime ">
					 	#{cfpBenormalTime},
				</if>
			 	<if test=" null != cfpUpdateTime ">
					 	#{cfpUpdateTime},
				</if>
			 	<if test=" null != levelExperience ">
					 	#{levelExperience},
				</if>
			 	<if test=" null != headImage and ''!= headImage  ">
					 	#{headImage},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
			 	<if test=" null != disabledLoginTime ">
					 	#{disabledLoginTime},
				</if>
				<if test=" null != registerFromUrl ">
					 	#{registerFromUrl},
				</if>
				<if test=" null != registerAccessUrl ">
					 	#{registerAccessUrl},
				</if>
				<if test=" null != easemobAcct and ''!= easemobAcct  ">
						#{easemobAcct},
				</if>
				<if test=" null != easemobPassword and ''!= easemobPassword  ">
						#{easemobPassword},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != isLocked ">
					 	#{isLocked},
				</if>
			 	<if test=" null != enable ">
					 	#{enable},
				</if>
			 	<if test=" null != delStatus ">
					 	#{delStatus},
				</if>
				<if test=" null != salesOrgId ">
					 	#{salesOrgId},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop4j.web.model.CrmCfplanner" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcrm_cfplanner
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != mobile and ''!= mobile  ">
					mobile,
				</if>
			 	<if test=" null != email and ''!= email  ">
					email,
				</if>
			 	<if test=" null != parentId and ''!= parentId  ">
					parent_id,
				</if>
			 	<if test=" null != qrcode and ''!= qrcode  ">
					qrcode,
				</if>
			 	<if test=" null != empNo and ''!= empNo  ">
					emp_no,
				</if>
			 	<if test=" null != department and ''!= department  ">
					department,
				</if>
			 	<if test=" null != settlementType ">
					settlement_type,
				</if>
			 	<if test=" null != cfpLevel and ''!= cfpLevel  ">
					cfp_level,
				</if>
			 	<if test=" null != cfpRegTime ">
					cfp_reg_time,
				</if>
			 	<if test=" null != cfpBenormalTime ">
					cfp_benormal_time,
				</if>
			 	<if test=" null != cfpUpdateTime ">
					cfp_update_time,
				</if>
			 	<if test=" null != levelExperience ">
					level_experience,
				</if>
			 	<if test=" null != headImage and ''!= headImage  ">
					head_image,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
				<if test=" null != rectVisitTime ">
					rect_visit_time,
				</if>
			 	<if test=" null != disabledLoginTime ">
					disabled_login_time,
				</if>
				<if test=" null != registerFromUrl ">
					register_from_url,
				</if>
				<if test=" null != registerAccessUrl ">
					register_access_url,
				</if>
				<if test=" null != easemobAcct and ''!= easemobAcct  ">
					easemob_acct,
				</if>
				<if test=" null != easemobPassword and ''!= easemobPassword  ">
					easemob_password,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != isLocked ">
					is_locked,
				</if>
			 	<if test=" null != enable ">
					enable,
				</if>
			 	<if test=" null != delStatus ">
					del_status,
				</if>
				<if test=" null != salesOrgId ">
					sales_org_id,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != mobile and ''!= mobile  ">
					 	#{mobile},
				</if>
			 	<if test=" null != email and ''!= email  ">
					 	#{email},
				</if>
			 	<if test=" null != parentId and ''!= parentId  ">
					 	#{parentId},
				</if>
			 	<if test=" null != qrcode and ''!= qrcode  ">
					 	#{qrcode},
				</if>
			 	<if test=" null != empNo and ''!= empNo  ">
					 	#{empNo},
				</if>
			 	<if test=" null != department and ''!= department  ">
					 	#{department},
				</if>
			 	<if test=" null != settlementType ">
					 	#{settlementType},
				</if>
			 	<if test=" null != cfpLevel and ''!= cfpLevel  ">
					 	#{cfpLevel},
				</if>
			 	<if test=" null != cfpRegTime ">
					 	#{cfpRegTime},
				</if>
			 	<if test=" null != cfpBenormalTime ">
					 	#{cfpBenormalTime},
				</if>
			 	<if test=" null != cfpUpdateTime ">
					 	#{cfpUpdateTime},
				</if>
			 	<if test=" null != levelExperience ">
					 	#{levelExperience},
				</if>
			 	<if test=" null != headImage and ''!= headImage  ">
					 	#{headImage},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
				<if test=" null != rectVisitTime ">
					 	#{rectVisitTime},
				</if>
			 	<if test=" null != disabledLoginTime ">
					 	#{disabledLoginTime},
				</if>
				<if test=" null != registerFromUrl ">
					 	#{registerFromUrl},
				</if>
				<if test=" null != registerAccessUrl ">
					 	#{registerAccessUrl},
				</if>
				<if test=" null != easemobAcct and ''!= easemobAcct  ">
						#{easemobAcct},
				</if>
				<if test=" null != easemobPassword and ''!= easemobPassword  ">
						#{easemobPassword},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != isLocked ">
					 	#{isLocked},
				</if>
			 	<if test=" null != enable ">
					 	#{enable},
				</if>
			 	<if test=" null != delStatus ">
					 	#{delStatus},
				</if>
				<if test=" null != salesOrgId ">
					 	#{salesOrgId},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop4j.web.model.CrmCfplanner" >
  		UPDATE tcrm_cfplanner
		<set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != mobile and ''!= mobile  ">
						mobile = #{mobile},
					</if>
					<if test=" null != email and ''!= email  ">
						email = #{email},
					</if>
					<if test=" null != parentId and ''!= parentId  ">
						parent_id = #{parentId},
					</if>
					<if test=" null != qrcode and ''!= qrcode  ">
						qrcode = #{qrcode},
					</if>
					<if test=" null != empNo and ''!= empNo  ">
						emp_no = #{empNo},
					</if>
					<if test=" null != department and ''!= department  ">
						department = #{department},
					</if>
					<if test=" null != settlementType ">
						settlement_type = #{settlementType},
					</if>
					<if test=" null != cfpLevel and ''!= cfpLevel  ">
						cfp_level = #{cfpLevel},
					</if>
					<if test=" null != cfpRegTime ">
						cfp_reg_time = #{cfpRegTime},
					</if>
					<if test=" null != cfpBenormalTime ">
						cfp_benormal_time = #{cfpBenormalTime},
					</if>
					<if test=" null != cfpUpdateTime ">
						cfp_update_time = #{cfpUpdateTime},
					</if>
					<if test=" null != levelExperience ">
						level_experience = #{levelExperience},
					</if>
					<if test=" null != headImage and ''!= headImage  ">
						head_image = #{headImage},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
					<if test=" null != disabledLoginTime ">
						disabled_login_time = #{disabledLoginTime},
					</if>
					<if test=" null != easemobAcct and ''!= easemobAcct  ">
						easemob_acct = #{easemobAcct},
					</if>
					<if test=" null != easemobPassword and ''!= easemobPassword  ">
						easemob_password = #{easemobPassword},
					</if>
					<if test=" null != easemobRegStatus and ''!= easemobRegStatus  ">
						easemob_reg_status = #{easemobRegStatus},
					</if>
					<if test=" null != easemobNicknameStatus and ''!= easemobNicknameStatus  ">
						easemob_nickname_status = #{easemobNicknameStatus},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != isLocked ">
						is_locked = #{isLocked},
					</if>
					<if test=" null != enable ">
						enable = #{enable},
					</if>
					<if test=" null != delStatus ">
						del_status = #{delStatus},
					</if>
					<if test=" null != salesOrgId ">
						sales_org_id = #{salesOrgId},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.eshop4j.web.model.CrmCfplanner" >
	    UPDATE tcrm_cfplanner
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != mobile and ''!= mobile  ">
						mobile = #{mobile},
					</if>
					<if test=" null != email and ''!= email  ">
						email = #{email},
					</if>
					<if test=" null != parentId and ''!= parentId  ">
						parent_id = #{parentId},
					</if>
					<if test=" null != qrcode and ''!= qrcode  ">
						qrcode = #{qrcode},
					</if>
					<if test=" null != empNo and ''!= empNo  ">
						emp_no = #{empNo},
					</if>
					<if test=" null != department and ''!= department  ">
						department = #{department},
					</if>
					<if test=" null != settlementType ">
						settlement_type = #{settlementType},
					</if>
					<if test=" null != cfpLevel and ''!= cfpLevel  ">
						cfp_level = #{cfpLevel},
					</if>
					<if test=" null != cfpRegTime ">
						cfp_reg_time = #{cfpRegTime},
					</if>
					<if test=" null != cfpBenormalTime ">
						cfp_benormal_time = #{cfpBenormalTime},
					</if>
					<if test=" null != cfpUpdateTime ">
						cfp_update_time = #{cfpUpdateTime},
					</if>
					<if test=" null != levelExperience ">
						level_experience = #{levelExperience},
					</if>
					<if test=" null != headImage and ''!= headImage  ">
						head_image = #{headImage},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
					<if test=" null != disabledLoginTime ">
						disabled_login_time = #{disabledLoginTime},
					</if>
					<if test=" null != easemobAcct and ''!= easemobAcct  ">
						easemob_acct = #{easemobAcct},
					</if>
					<if test=" null != easemobPassword and ''!= easemobPassword  ">
						easemob_password = #{easemobPassword},
					</if>
					<if test=" null != easemobRegStatus and ''!= easemobRegStatus  ">
						easemob_reg_status = #{easemobRegStatus},
					</if>
					<if test=" null != easemobNicknameStatus and ''!= easemobNicknameStatus  ">
						easemob_nickname_status = #{easemobNicknameStatus},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != isLocked ">
						is_locked = #{isLocked},
					</if>
					<if test=" null != enable ">
						enable = #{enable},
					</if>
					<if test=" null != delStatus ">
						del_status = #{delStatus},
					</if>
					<if test=" null != salesOrgId ">
						sales_org_id = #{salesOrgId},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>
	  
	  <update id="updateByUserId" parameterType="com.eshop4j.web.model.CrmCfplanner" >
  		UPDATE tcrm_cfplanner
		<set>
			<trim suffixOverrides=",">
					<if test=" null != mobile and ''!= mobile  ">
						mobile = #{mobile},
					</if>
					<if test=" null != email and ''!= email  ">
						email = #{email},
					</if>
					<if test=" null != parentId ">
						parent_id = #{parentId},
					</if>
					<if test=" null != qrcode and ''!= qrcode  ">
						qrcode = #{qrcode},
					</if>
					<if test=" null != empNo and ''!= empNo  ">
						emp_no = #{empNo},
					</if>
					<if test=" null != department and ''!= department  ">
						department = #{department},
					</if>
					<if test=" null != settlementType ">
						settlement_type = #{settlementType},
					</if>
					<if test=" null != cfpLevel and ''!= cfpLevel  ">
						cfp_level = #{cfpLevel},
					</if>
					<if test=" null != cfpRegTime ">
						cfp_reg_time = #{cfpRegTime},
					</if>
					<if test=" null != cfpBenormalTime ">
						cfp_benormal_time = #{cfpBenormalTime},
					</if>
					<if test=" null != cfpUpdateTime ">
						cfp_update_time = #{cfpUpdateTime},
					</if>
					<if test=" null != levelExperience ">
						level_experience = #{levelExperience},
					</if>
					<if test=" null != headImage and ''!= headImage  ">
						head_image = #{headImage},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
					<if test=" null != rectVisitTime ">
						rect_visit_time = #{rectVisitTime},
					</if>
					<if test=" null != disabledLoginTime ">
						disabled_login_time = #{disabledLoginTime},
					</if>
					<if test=" null != easemobAcct and ''!= easemobAcct  ">
						easemob_acct = #{easemobAcct},
					</if>
					<if test=" null != easemobPassword and ''!= easemobPassword  ">
						easemob_password = #{easemobPassword},
					</if>
					<if test=" null != easemobRegStatus and ''!= easemobRegStatus  ">
						easemob_reg_status = #{easemobRegStatus},
					</if>
					<if test=" null != easemobNicknameStatus and ''!= easemobNicknameStatus  ">
						easemob_nickname_status = #{easemobNicknameStatus},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != isLocked ">
						is_locked = #{isLocked},
					</if>
					<if test=" null != enable ">
						enable = #{enable},
					</if>
					<if test=" null != delStatus ">
						del_status = #{delStatus},
					</if>
					<if test=" null != salesOrgId ">
						sales_org_id = #{salesOrgId},
					</if>
					<if test=" null != weiXinOpenId ">
						weixin_openid = #{weiXinOpenId},
					</if>
			</trim>
		</set>
		<where>
			 user_id = #{userId}
		</where>
	</update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.eshop4j.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcrm_cfplanner
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>
    
    <!-- 根据手机号码查投资用户的理财师 -->
    <select id="queryCfplannerByInvestMobile" resultMap="BaseResultMap2"  parameterType="String">
		SELECT c.*,u.user_name FROM tcrm_cfplanner c JOIN tcrm_user_info u ON c.user_id = u.user_id 
		LEFT JOIN tcrm_investor i ON i.cfplanner = c.user_id 
		WHERE 1 = 1 AND i.mobile =#{investorMobile}
  	</select>
  	
  	<!-- 根据userId查投资用户的理财师 -->
    <select id="queryCfplannerByInvestor" resultMap="BaseResultMap2"  parameterType="String">
		SELECT c.*,u.user_name FROM tcrm_cfplanner c JOIN tcrm_user_info u ON c.user_id = u.user_id 
		LEFT JOIN tcrm_investor i ON i.cfplanner = c.user_id 
		WHERE 1 = 1 AND i.user_id =#{investorUserId}
  	</select>
  	
  	<!--  根据环信帐号获取用户信息 -->
	<select id="queryCfplannerByEasemob" resultMap="BaseResultMap2"  >
 		select c.*, u.user_name from tcrm_cfplanner c join tcrm_user_info u on c.user_id=u.user_id
		<where>
			<foreach item="item" index="index" collection="list"  open="(" separator="or" close=") ">
				  c.easemob_acct  = #{item}
			</foreach>
		</where>
	</select>

	<select id="selectRegCfplanners" resultType="java.lang.String">
		SELECT mobile from tcrm_cfplanner
		<where>
			<foreach item="item" index="index" collection="array" open=" mobile in ("
				separator="," close=") ">
				#{item}
			</foreach>
		</where>
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap2"
		parameterType="java.lang.String">
		select t.*, u.user_name from tcrm_cfplanner t join tcrm_user_info u on t.user_id=u.user_id
		<include refid="Base_Column_List" />
		from tcrm_cfplanner t
		where t.user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<update id="updateCfpQrByUserId" parameterType="com.eshop4j.web.model.CrmCfplanner">
		update tcrm_cfplanner
		set qrcode = #{qrcode,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=VARCHAR}
	</update>
	
	<!-- 查理财师的团队人数 -->
	<select id="queryTeamMemberCount" resultType="int" parameterType="java.lang.String">
		SELECT 
		(SELECT IFNULL(count(1),0) from tcrm_cfplanner where parent_id=#{userId,jdbcType=VARCHAR})
		+
		(SELECT IFNULL(count(1),0) from tcrm_cfplanner where parent_id in (SELECT user_id from tcrm_cfplanner where parent_id=#{userId,jdbcType=VARCHAR}))
	</select>
	
	<!-- 查理财师的所有团队成员 -->
	<select id="queryTeamAllMember" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * from tcrm_cfplanner where parent_id=#{userId,jdbcType=VARCHAR}
		union
		SELECT * from tcrm_cfplanner where parent_id in (SELECT user_id from tcrm_cfplanner where parent_id=#{userId,jdbcType=VARCHAR})
	</select>
	
	<!-- 更新理财师职级经验 -->
	<update id="updateCfplannerRankExperience" >
		update tcrm_cfplanner t SET t.cfp_level=#{level},t.level_experience=t.level_experience+#{experience} WHERE t.user_id=#{userId}
	</update>
		
	
	<!-- 符合分配规则的理财师 -->
	<select id="queryConformAllotRuleCfps" resultType="String" >
		SELECT cfplanner from (
		SELECT IFNULL(sum(r.invest_amt),0) totalInvestAmt ,i.cfplanner from tcim_product_invest_record r LEFT JOIN tcrm_investor i on r.user_id=i.user_id 
		where r.biz_time>= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
		GROUP BY i.cfplanner
		) t
		where totalInvestAmt>10000
		and cfplanner in
		(
		SELECT user_id from tcrm_cfplanner where rect_visit_time>= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
		)
	</select>
	
	<!-- 7天内登录过的理财师 -->
	<select id="queryLoginInSevenDaysCfp" resultType="String" >
		SELECT user_id from tcrm_cfplanner where rect_visit_time>= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
	</select>
	
	<!-- 理财师客户数量 -->
	<select id="queryCustomerCount" resultType="int" >
		SELECT count(1) from tcrm_investor where cfplanner=#{userId}
	</select>
	
	<!-- 查规定分配自由用户的理财师 -->
	<select id="querySpecifiedCfps" resultType="String" >
		SELECT c.user_id from tsys_special_user_list s LEFT JOIN tcrm_cfplanner c on s.mobile=c.mobile where s.type=1 and c.user_id is not null
	</select>
	
	<!-- 邀请理财师记录 -->
    <select id="queryInvitationCfplannerRecord"  resultType="com.eshop4j.web.model.crm.InvotateUserListResp" parameterType="com.eshop4j.api.request.crm.InvotationRequest">
    	SELECT
			i.user_id userId,
			i.mobile mobile,
			u.user_name userName,
			i.create_time registerDate,
			case when i.rect_invest_time is null then '1' else '0' END investFlag
		FROM
			tcrm_investor i JOIN tcrm_user_info u on i.user_id=u.user_id 
		JOIN tcrm_cfplanner c on i.user_id=c.user_id
		WHERE
			i.ref_user = #{userId,jdbcType=VARCHAR}
	 	order by i.id desc
    </select>
    
    <!-- 邀请理财师记录统计 -->
    <select id="queryInvitationCfplannerRecordStatistics"  resultType="int" >
    	SELECT
			count(1)
		FROM
			tcrm_investor i JOIN tcrm_user_info u on i.user_id=u.user_id 
		JOIN tcrm_cfplanner c on i.user_id=c.user_id
		WHERE
			i.ref_user = #{userId,jdbcType=VARCHAR}
    </select>
    
   <!--  查销售机构数 -->
    <select id="querySalesOrgCount"  resultType="int" >
    	SELECT
			count(1)
		FROM
			tcrm_sales_org
		WHERE
			sales_org_id = #{salesOrgId,jdbcType=VARCHAR}
    </select>
	
</mapper>