<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.AcAccountBindMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.acc.AcAccountBind" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="bank_card_id" property="bankCardId" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="reserve_mobile" property="reserveMobile" jdbcType="VARCHAR"/>
		<result column="bank_card" property="bankCard" jdbcType="VARCHAR"/>
		<result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
		<result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="kai_hu_hang" property="kaiHuHang" jdbcType="VARCHAR"/>
		<result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
		<result column="freeze_amount" property="freezeAmount" jdbcType="DECIMAL"/>
		<result column="withdraw_amount" property="withdrawAmount" jdbcType="DECIMAL"/>
		<result column="id_card" property="idCard" jdbcType="VARCHAR"/>
		<result column="user_type" property="userType" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="tran_pwd" property="tranPwd" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap  type="com.linkwee.web.model.acc.AcAccountBind" id="BindCardResultMap">
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="mobile" property="mobile" jdbcType="VARCHAR"/>
		<result column="reserve_mobile" property="reserveMobile" jdbcType="VARCHAR"/>
		<result column="bank_card" property="bankCard" jdbcType="VARCHAR"/>
		<result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
		<result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="kai_hu_hang" property="kaiHuHang" jdbcType="VARCHAR"/>
		<result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
		<result column="freeze_amount" property="freezeAmount" jdbcType="DECIMAL"/>
		<result column="withdraw_amount" property="withdrawAmount" jdbcType="DECIMAL"/>
		<result column="id_card" property="idCard" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	bank_card_id,
	    	user_id,
	    	user_name,
	    	reserve_mobile,
	    	bank_card,
	    	bank_code,
	    	bank_name,
	    	city,
	    	kai_hu_hang,
	    	total_amount,
	    	freeze_amount,
	    	withdraw_amount,
	    	id_card,
	    	user_type,
	    	create_time,
	    	status,
	    	tran_pwd,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != bankCardId and ''!= bankCardId  ">
			and bank_card_id = #{bankCardId}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != userName and ''!= userName  ">
			and user_name = #{userName}
		</if>
		<if test=" null != reserveMobile and ''!= reserveMobile  ">
			and reserve_mobile = #{reserveMobile}
		</if>
		<if test=" null != bankCard and ''!= bankCard  ">
			and bank_card = #{bankCard}
		</if>
		<if test=" null != bankCode and ''!= bankCode  ">
			and bank_code = #{bankCode}
		</if>
		<if test=" null != bankName and ''!= bankName  ">
			and bank_name = #{bankName}
		</if>
		<if test=" null != city and ''!= city  ">
			and city = #{city}
		</if>
		<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
			and kai_hu_hang = #{kaiHuHang}
		</if>
		<if test=" null != totalAmount ">
			and total_amount = #{totalAmount}
		</if>
		<if test=" null != freezeAmount ">
			and freeze_amount = #{freezeAmount}
		</if>
		<if test=" null != withdrawAmount ">
			and withdraw_amount = #{withdrawAmount}
		</if>
		<if test=" null != idCard and ''!= idCard  ">
			and id_card = #{idCard}
		</if>
		<if test=" null != userType ">
			and user_type = #{userType}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != status ">
			and status = #{status}
		</if>
		<if test=" null != tranPwd and ''!= tranPwd  ">
			and tran_pwd = #{tranPwd}
		</if>
  </sql>
  
  <!-- 测试中信银行绑卡使用 -->
   <select id="selectBankByBankName" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcAccountBind">
		select <include refid="Base_Column_List" /> from tac_account_bind 
		where bank_name='中信银行';
  </select>
  
  <!-- 是否需要开户行 -->
  <select id="isNeedkaiHuHang" resultType="int">
		select count(*) from tac_withdraw_apply  
		where status='5' and bank_card_id=#{bankCardId} 
  </select>
  
  <!-- 运营人员禁止提现 -->
  <select id="isForbiWithdrawUser" resultType="int">
		select count(*) from tsys_special_user_list  
		where type=2 and mobile = (select mobile from tcrm_user_info where user_id=#{userId})
  </select>
  
  <select id="selectAccountByUserId" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcAccountBind">
		select <include refid="Base_Column_List" /> from tac_account_bind 
		where user_id = #{userId}
  </select>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcAccountBind">
		select <include refid="Base_Column_List" /> from tac_account_bind 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcAccountBind">
		select <include refid="Base_Column_List" /> from tac_account_bind 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tac_account_bind
    where  bank_name = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tac_account_bind
    where bank_name = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.acc.AcAccountBind" >
    INSERT INTO tac_account_bind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != bankCardId and ''!= bankCardId  ">
					bank_card_id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					user_name,
				</if>
			 	<if test=" null != reserveMobile and ''!= reserveMobile  ">
					reserve_mobile,
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					bank_card,
				</if>
			 	<if test=" null != bankCode and ''!= bankCode  ">
					bank_code,
				</if>
			 	<if test=" null != bankName and ''!= bankName  ">
					bank_name,
				</if>
			 	<if test=" null != city and ''!= city  ">
					city,
				</if>
			 	<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
					kai_hu_hang,
				</if>
			 	<if test=" null != totalAmount ">
					total_amount,
				</if>
				<if test=" null != freezeAmount ">
					freeze_amount,
				</if>
			 	<if test=" null != withdrawAmount ">
					withdraw_amount,
				</if>
			 	<if test=" null != idCard and ''!= idCard  ">
					id_card,
				</if>
			 	<if test=" null != userType ">
					user_type,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != tranPwd and ''!= tranPwd  ">
					tran_pwd,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != bankCardId and ''!= bankCardId  ">
					 	#{bankCardId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					 	#{userName},
				</if>
			 	<if test=" null != reserveMobile and ''!= reserveMobile  ">
					 	#{reserveMobile},
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					 	#{bankCard},
				</if>
			 	<if test=" null != bankCode and ''!= bankCode  ">
					 	#{bankCode},
				</if>
			 	<if test=" null != bankName and ''!= bankName  ">
					 	#{bankName},
				</if>
			 	<if test=" null != city and ''!= city  ">
					 	#{city},
				</if>
			 	<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
					 	#{kaiHuHang},
				</if>
			 	<if test=" null != totalAmount ">
					 	#{totalAmount},
				</if>
				<if test=" null != freezeAmount ">
					 	#{freezeAmount},
				</if>
			 	<if test=" null != withdrawAmount ">
					 	#{withdrawAmount},
				</if>
			 	<if test=" null != idCard and ''!= idCard  ">
					 	#{idCard},
				</if>
			 	<if test=" null != userType ">
					 	#{userType},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != tranPwd and ''!= tranPwd  ">
					 	#{tranPwd},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.acc.AcAccountBind" useGeneratedKeys="true" keyProperty="userId" >
		INSERT INTO tac_account_bind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != bankCardId and ''!= bankCardId  ">
					bank_card_id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					user_name,
				</if>
			 	<if test=" null != reserveMobile and ''!= reserveMobile  ">
					reserve_mobile,
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					bank_card,
				</if>
			 	<if test=" null != bankCode and ''!= bankCode  ">
					bank_code,
				</if>
			 	<if test=" null != bankName and ''!= bankName  ">
					bank_name,
				</if>
			 	<if test=" null != city and ''!= city  ">
					city,
				</if>
			 	<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
					kai_hu_hang,
				</if>
			 	<if test=" null != totalAmount ">
					total_amount,
				</if>
				<if test=" null != freezeAmount ">
					freeze_amount,
				</if>
			 	<if test=" null != withdrawAmount ">
					withdraw_amount,
				</if>
			 	<if test=" null != idCard and ''!= idCard  ">
					id_card,
				</if>
			 	<if test=" null != userType ">
					user_type,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != tranPwd and ''!= tranPwd  ">
					tran_pwd,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != bankCardId and ''!= bankCardId  ">
					 	#{bankCardId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != userName and ''!= userName  ">
					 	#{userName},
				</if>
			 	<if test=" null != reserveMobile and ''!= reserveMobile  ">
					 	#{reserveMobile},
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					 	#{bankCard},
				</if>
			 	<if test=" null != bankCode and ''!= bankCode  ">
					 	#{bankCode},
				</if>
			 	<if test=" null != bankName and ''!= bankName  ">
					 	#{bankName},
				</if>
			 	<if test=" null != city and ''!= city  ">
					 	#{city},
				</if>
			 	<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
					 	#{kaiHuHang},
				</if>
			 	<if test=" null != totalAmount ">
					 	#{totalAmount},
				</if>
				<if test=" null != freezeAmount ">
					 	#{freezeAmount},
				</if>
			 	<if test=" null != withdrawAmount ">
					 	#{withdrawAmount},
				</if>
			 	<if test=" null != idCard and ''!= idCard  ">
					 	#{idCard},
				</if>
			 	<if test=" null != userType ">
					 	#{userType},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != tranPwd and ''!= tranPwd  ">
					 	#{tranPwd},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.acc.AcAccountBind" >
  		UPDATE tac_account_bind
		<set>
			<trim suffixOverrides=",">
					<if test=" null != bankCardId and ''!= bankCardId  ">
						bank_card_id = #{bankCardId},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != userName and ''!= userName  ">
						user_name = #{userName},
					</if>
					<if test=" null != reserveMobile and ''!= reserveMobile  ">
						reserve_mobile = #{reserveMobile},
					</if>
					<if test=" null != bankCard and ''!= bankCard  ">
						bank_card = #{bankCard},
					</if>
					<if test=" null != bankCode and ''!= bankCode  ">
						bank_code = #{bankCode},
					</if>
					<if test=" null != bankName and ''!= bankName  ">
						bank_name = #{bankName},
					</if>
					<if test=" null != city and ''!= city  ">
						city = #{city},
					</if>
					<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
						kai_hu_hang = #{kaiHuHang},
					</if>
					<if test=" null != totalAmount ">
						total_amount = #{totalAmount},
					</if>
					<if test=" null != freezeAmount ">
						freeze_amount = #{freezeAmount},
					</if>
					<if test=" null != withdrawAmount ">
						withdraw_amount = #{withdrawAmount},
					</if>
					<if test=" null != idCard and ''!= idCard  ">
						id_card = #{idCard},
					</if>
					<if test=" null != userType ">
						user_type = #{userType},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != tranPwd and ''!= tranPwd  ">
						tran_pwd = #{tranPwd},
					</if>
			</trim>
		</set>
		<where>
			user_id = #{userId}
		</where>
	</update>
	
	<update id="acAccountUnbund" parameterType="com.linkwee.web.model.acc.AcAccountBind" >
        UPDATE tac_account_bind set status=2 where user_id=#{userId}
    </update>
    
    
    <update id="acGrantProfit" parameterType="com.linkwee.web.model.acc.AcAccountBind" >
        UPDATE tac_account_bind set total_amount=total_amount+#{transAmount}
	    where user_id=#{userId}
    </update>
    
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.acc.AcAccountBind" >
	    UPDATE tac_account_bind
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != bankCardId and ''!= bankCardId  ">
						bank_card_id = #{bankCardId},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != userName and ''!= userName  ">
						user_name = #{userName},
					</if>
					<if test=" null != reserveMobile and ''!= reserveMobile  ">
						reserve_mobile = #{reserveMobile},
					</if>
					<if test=" null != bankCard and ''!= bankCard  ">
						bank_card = #{bankCard},
					</if>
					<if test=" null != bankCode and ''!= bankCode  ">
						bank_code = #{bankCode},
					</if>
					<if test=" null != city and ''!= city  ">
						city = #{city},
					</if>
					<if test=" null != kaiHuHang and ''!= kaiHuHang  ">
						kai_hu_hang = #{kaiHuHang},
					</if>
					<if test=" null != totalAmount ">
						total_amount = #{totalAmount},
					</if>
					<if test=" null != freezeAmount ">
						freeze_amount = #{freezeAmount},
					</if>
					<if test=" null != withdrawAmount ">
						withdraw_amount = #{withdrawAmount},
					</if>
					<if test=" null != idCard and ''!= idCard  ">
						id_card = #{idCard},
					</if>
					<if test=" null != userType ">
						user_type = #{userType},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != tranPwd and ''!= tranPwd  ">
						tran_pwd = #{tranPwd},
					</if>
			</trim>
		</set>
		<where>
			bank_name = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BindCardResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT a.user_name,b.mobile,a.reserve_mobile,a.bank_card,a.bank_code,a.bank_name,a.status,
	    	a.city,a.kai_hu_hang,a.total_amount,a.freeze_amount,a.withdraw_amount,a.id_card,a.create_time 
        FROM tac_account_bind a left join tcrm_user_info b on a.user_id=b.user_id 
        <where> 
<!--               status = '1' -->
        <if test="dt.search!=null">  
              and  b.mobile LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if> 
        </where>
    </select>

</mapper>