<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.AcWhiteCardMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.acc.AcWhiteCard" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="bank_card" property="bankCard" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	bank_card,
	    	create_time,
	    	remark,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != bankCard and ''!= bankCard  ">
			and bank_card = #{bankCard}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != remark and ''!= remark  ">
			and remark = #{remark}
		</if>
  </sql>
  
  <select id="queryAcWhiteCardByBankCard" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcWhiteCard">
		select * from tac_white_card where bank_card = #{bankCard}
  </select>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcWhiteCard">
		select <include refid="Base_Column_List" /> from tac_white_card 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.acc.AcWhiteCard">
		select <include refid="Base_Column_List" /> from tac_white_card 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tac_white_card
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tac_white_card
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.acc.AcWhiteCard" >
    INSERT INTO tac_white_card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					bank_card,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					 	#{bankCard},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.acc.AcWhiteCard" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tac_white_card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					bank_card,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					remark,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != bankCard and ''!= bankCard  ">
					 	#{bankCard},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != remark and ''!= remark  ">
					 	#{remark},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.acc.AcWhiteCard" >
  		UPDATE tac_white_card
		<set>
			<trim suffixOverrides=",">
					<if test=" null != bankCard and ''!= bankCard  ">
						bank_card = #{bankCard},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.acc.AcWhiteCard" >
	    UPDATE tac_white_card
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != bankCard and ''!= bankCard  ">
						bank_card = #{bankCard},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != remark and ''!= remark  ">
						remark = #{remark},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tac_white_card
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>

</mapper>