<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.CimProductStatisticsMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.CimProductStatistics" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="product_id" property="productId" jdbcType="VARCHAR"/>
		<result column="collect_finish_time" property="collectFinishTime" jdbcType="TIMESTAMP"/>
		<result column="buyed_total_money" property="buyedTotalMoney" jdbcType="DECIMAL"/>
		<result column="buyed_total_people" property="buyedTotalPeople" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	product_id,
	    	collect_finish_time,
	    	buyed_total_money,
	    	buyed_total_people,
	    	create_time,
	    	update_time,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != productId and ''!= productId  ">
			and product_id = #{productId}
		</if>
		<if test=" null != collectFinishTime ">
			and collect_finish_time = #{collectFinishTime}
		</if>
		<if test=" null != buyedTotalMoney ">
			and buyed_total_money = #{buyedTotalMoney}
		</if>
		<if test=" null != buyedTotalPeople ">
			and buyed_total_people = #{buyedTotalPeople}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != updateTime ">
			and update_time = #{updateTime}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CimProductStatistics">
		select <include refid="Base_Column_List" /> from tcim_product_statistics 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CimProductStatistics">
		select <include refid="Base_Column_List" /> from tcim_product_statistics 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcim_product_statistics
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcim_product_statistics
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.CimProductStatistics" >
    INSERT INTO tcim_product_statistics
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					product_id,
				</if>
			 	<if test=" null != collectFinishTime ">
					collect_finish_time,
				</if>
			 	<if test=" null != buyedTotalMoney ">
					buyed_total_money,
				</if>
			 	<if test=" null != buyedTotalPeople ">
					buyed_total_people,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					 	#{productId},
				</if>
			 	<if test=" null != collectFinishTime ">
					 	#{collectFinishTime},
				</if>
			 	<if test=" null != buyedTotalMoney ">
					 	#{buyedTotalMoney},
				</if>
			 	<if test=" null != buyedTotalPeople ">
					 	#{buyedTotalPeople},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.CimProductStatistics" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcim_product_statistics
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					product_id,
				</if>
			 	<if test=" null != collectFinishTime ">
					collect_finish_time,
				</if>
			 	<if test=" null != buyedTotalMoney ">
					buyed_total_money,
				</if>
			 	<if test=" null != buyedTotalPeople ">
					buyed_total_people,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					 	#{productId},
				</if>
			 	<if test=" null != collectFinishTime ">
					 	#{collectFinishTime},
				</if>
			 	<if test=" null != buyedTotalMoney ">
					 	#{buyedTotalMoney},
				</if>
			 	<if test=" null != buyedTotalPeople ">
					 	#{buyedTotalPeople},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.CimProductStatistics" >
  		UPDATE tcim_product_statistics
		<set>
			<trim suffixOverrides=",">
					<if test=" null != productId and ''!= productId  ">
						product_id = #{productId},
					</if>
					<if test=" null != collectFinishTime ">
						collect_finish_time = #{collectFinishTime},
					</if>
					<if test=" null != buyedTotalMoney ">
						buyed_total_money = #{buyedTotalMoney},
					</if>
					<if test=" null != buyedTotalPeople ">
						buyed_total_people = #{buyedTotalPeople},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.CimProductStatistics" >
	    UPDATE tcim_product_statistics
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != productId and ''!= productId  ">
						product_id = #{productId},
					</if>
					<if test=" null != collectFinishTime ">
						collect_finish_time = #{collectFinishTime},
					</if>
					<if test=" null != buyedTotalMoney ">
						buyed_total_money = #{buyedTotalMoney},
					</if>
					<if test=" null != buyedTotalPeople ">
						buyed_total_people = #{buyedTotalPeople},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcim_product_statistics
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>

</mapper>