<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.SmCustomerDeviceMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.SmCustomerDevice" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="device_token" property="deviceToken" jdbcType="VARCHAR"/>
		<result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
		<result column="device_type" property="deviceType" jdbcType="VARCHAR"/>
		<result column="device_detail" property="deviceDetail" jdbcType="VARCHAR"/>
		<result column="device_resolution" property="deviceResolution" jdbcType="VARCHAR"/>
		<result column="system_version" property="systemVersion" jdbcType="VARCHAR"/>
		<result column="appversion" property="appversion" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="login_lasttime" property="loginLasttime" jdbcType="TIMESTAMP"/>
		<result column="app_type" property="appType" jdbcType="TINYINT"/>
		<result column="is_sendnotice" property="isSendnotice" jdbcType="TINYINT"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	user_id,
	    	device_token,
	    	device_id,
	    	device_type,
	    	device_detail,
	    	device_resolution,
	    	system_version,
	    	appversion,
	    	create_date,
	    	login_lasttime,
	    	app_type,
	    	is_sendnotice,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != deviceToken and ''!= deviceToken  ">
			and device_token = #{deviceToken}
		</if>
		<if test=" null != deviceId and ''!= deviceId  ">
			and device_id = #{deviceId}
		</if>
		<if test=" null != deviceType and ''!= deviceType  ">
			and device_type = #{deviceType}
		</if>
		<if test=" null != deviceDetail and ''!= deviceDetail  ">
			and device_detail = #{deviceDetail}
		</if>
		<if test=" null != deviceResolution and ''!= deviceResolution  ">
			and device_resolution = #{deviceResolution}
		</if>
		<if test=" null != systemVersion and ''!= systemVersion  ">
			and system_version = #{systemVersion}
		</if>
		<if test=" null != appversion and ''!= appversion  ">
			and appversion = #{appversion}
		</if>
		<if test=" null != createDate ">
			and create_date = #{createDate}
		</if>
		<if test=" null != loginLasttime ">
			and login_lasttime = #{loginLasttime}
		</if>
		<if test=" null != appType ">
			and app_type = #{appType}
		</if>
		<if test=" null != isSendnotice ">
			and is_sendnotice = #{isSendnotice}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.SmCustomerDevice">
		select <include refid="Base_Column_List" /> from tsm_customer_device 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.SmCustomerDevice">
		select <include refid="Base_Column_List" /> from tsm_customer_device 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tsm_customer_device
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tsm_customer_device
    where id = #{0}
  </delete>
  
  <delete id="deleteByUserIdAndAppType" >
		delete from tsm_customer_device 
		<where>
			 user_id = #{userId} and app_type = #{appType}
		</where>
 </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.SmCustomerDevice" >
    INSERT INTO tsm_customer_device
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != deviceToken and ''!= deviceToken  ">
					device_token,
				</if>
				<if test=" null != deviceId and ''!= deviceId  ">
					device_id,
				</if>
			 	<if test=" null != deviceType and ''!= deviceType  ">
					device_type,
				</if>
			 	<if test=" null != deviceDetail and ''!= deviceDetail  ">
					device_detail,
				</if>
			 	<if test=" null != deviceResolution and ''!= deviceResolution  ">
					device_resolution,
				</if>
			 	<if test=" null != systemVersion and ''!= systemVersion  ">
					system_version,
				</if>
			 	<if test=" null != appversion and ''!= appversion  ">
					appversion,
				</if>
			 	<if test=" null != createDate ">
					create_date,
				</if>
			 	<if test=" null != loginLasttime ">
					login_lasttime,
				</if>
			 	<if test=" null != appType ">
					app_type,
				</if>
			 	<if test=" null != isSendnotice ">
					is_sendnotice,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
				<if test=" null != deviceToken and ''!= deviceToken  ">
						#{deviceToken},
				</if>
			 	<if test=" null != deviceId and ''!= deviceId  ">
					 	#{deviceId},
				</if>
			 	<if test=" null != deviceType and ''!= deviceType  ">
					 	#{deviceType},
				</if>
			 	<if test=" null != deviceDetail and ''!= deviceDetail  ">
					 	#{deviceDetail},
				</if>
			 	<if test=" null != deviceResolution and ''!= deviceResolution  ">
					 	#{deviceResolution},
				</if>
			 	<if test=" null != systemVersion and ''!= systemVersion  ">
					 	#{systemVersion},
				</if>
			 	<if test=" null != appversion and ''!= appversion  ">
					 	#{appversion},
				</if>
			 	<if test=" null != createDate ">
					 	#{createDate},
				</if>
			 	<if test=" null != loginLasttime ">
					 	#{loginLasttime},
				</if>
			 	<if test=" null != appType ">
					 	#{appType},
				</if>
			 	<if test=" null != isSendnotice ">
					 	#{isSendnotice},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.SmCustomerDevice" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tsm_customer_device
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
				<if test=" null != deviceToken and ''!= deviceToken  ">
					device_token,
				</if>
			 	<if test=" null != deviceId and ''!= deviceId  ">
					device_id,
				</if>
			 	<if test=" null != deviceType and ''!= deviceType  ">
					device_type,
				</if>
			 	<if test=" null != deviceDetail and ''!= deviceDetail  ">
					device_detail,
				</if>
			 	<if test=" null != deviceResolution and ''!= deviceResolution  ">
					device_resolution,
				</if>
			 	<if test=" null != systemVersion and ''!= systemVersion  ">
					system_version,
				</if>
			 	<if test=" null != appversion and ''!= appversion  ">
					appversion,
				</if>
			 	<if test=" null != createDate ">
					create_date,
				</if>
			 	<if test=" null != loginLasttime ">
					login_lasttime,
				</if>
			 	<if test=" null != appType ">
					app_type,
				</if>
			 	<if test=" null != isSendnotice ">
					is_sendnotice,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
				<if test=" null != deviceToken and ''!= deviceToken  ">
						#{deviceToken},
				</if>
			 	<if test=" null != deviceId and ''!= deviceId  ">
					 	#{deviceId},
				</if>
			 	<if test=" null != deviceType and ''!= deviceType  ">
					 	#{deviceType},
				</if>
			 	<if test=" null != deviceDetail and ''!= deviceDetail  ">
					 	#{deviceDetail},
				</if>
			 	<if test=" null != deviceResolution and ''!= deviceResolution  ">
					 	#{deviceResolution},
				</if>
			 	<if test=" null != systemVersion and ''!= systemVersion  ">
					 	#{systemVersion},
				</if>
			 	<if test=" null != appversion and ''!= appversion  ">
					 	#{appversion},
				</if>
			 	<if test=" null != createDate ">
					 	#{createDate},
				</if>
			 	<if test=" null != loginLasttime ">
					 	#{loginLasttime},
				</if>
			 	<if test=" null != appType ">
					 	#{appType},
				</if>
			 	<if test=" null != isSendnotice ">
					 	#{isSendnotice},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.SmCustomerDevice" >
  		UPDATE tsm_customer_device
		<set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != deviceToken and ''!= deviceToken  ">
						device_token = #{deviceToken},
					</if>
					<if test=" null != deviceId and ''!= deviceId  ">
						device_id = #{deviceId},
					</if>
					<if test=" null != deviceType and ''!= deviceType  ">
						device_type = #{deviceType},
					</if>
					<if test=" null != deviceDetail and ''!= deviceDetail  ">
						device_detail = #{deviceDetail},
					</if>
					<if test=" null != deviceResolution and ''!= deviceResolution  ">
						device_resolution = #{deviceResolution},
					</if>
					<if test=" null != systemVersion and ''!= systemVersion  ">
						system_version = #{systemVersion},
					</if>
					<if test=" null != appversion and ''!= appversion  ">
						appversion = #{appversion},
					</if>
					<if test=" null != createDate ">
						create_date = #{createDate},
					</if>
					<if test=" null != loginLasttime ">
						login_lasttime = #{loginLasttime},
					</if>
					<if test=" null != appType ">
						app_type = #{appType},
					</if>
					<if test=" null != isSendnotice ">
						is_sendnotice = #{isSendnotice},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.SmCustomerDevice" >
	    UPDATE tsm_customer_device
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != deviceToken and ''!= deviceToken  ">
						device_token = #{deviceToken},
					</if>
					<if test=" null != deviceId and ''!= deviceId  ">
						device_id = #{deviceId},
					</if>
					<if test=" null != deviceType and ''!= deviceType  ">
						device_type = #{deviceType},
					</if>
					<if test=" null != deviceDetail and ''!= deviceDetail  ">
						device_detail = #{deviceDetail},
					</if>
					<if test=" null != deviceResolution and ''!= deviceResolution  ">
						device_resolution = #{deviceResolution},
					</if>
					<if test=" null != systemVersion and ''!= systemVersion  ">
						system_version = #{systemVersion},
					</if>
					<if test=" null != appversion and ''!= appversion  ">
						appversion = #{appversion},
					</if>
					<if test=" null != createDate ">
						create_date = #{createDate},
					</if>
					<if test=" null != loginLasttime ">
						login_lasttime = #{loginLasttime},
					</if>
					<if test=" null != appType ">
						app_type = #{appType},
					</if>
					<if test=" null != isSendnotice ">
						is_sendnotice = #{isSendnotice},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tsm_customer_device
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>
    
    <select id="queryUserDeviceToken" resultMap="BaseResultMap" >
        select t.user_id,t.device_token,t.device_type from tsm_customer_device t where t.app_type= #{appType} and t.user_id 
        <foreach item="item" open="IN (" close=")" separator="," collection="userIds">
			#{item}
		</foreach>
    </select>

</mapper>