<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eshop4j.web.dao.CrmSalesOrgMapper">
	<!-- Result Map-->
	<resultMap  type="com.eshop4j.web.model.crm.CrmSalesOrg" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="sales_org_id" property="salesOrgId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="legal_person" property="legalPerson" jdbcType="VARCHAR"/>
		<result column="contacts" property="contacts" jdbcType="VARCHAR"/>
		<result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR"/>
		<result column="manager_account" property="managerAccount" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="cooperation_time" property="cooperationTime" jdbcType="TIMESTAMP"/>
		<result column="cooperation_status" property="cooperationStatus" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
		<result column="cfplanner_count" property="cfplannerCount" jdbcType="INTEGER"/>
		<result column="history_sales" property="historySales" jdbcType="DOUBLE"/>
		<result column="this_month_sales" property="thisMonthSales" jdbcType="DOUBLE"/>
		<result column="thisMonthFee" property="thisMonthFee" jdbcType="DOUBLE"/>
		<result column="lastMonthSales" property="lastMonthSales" jdbcType="DOUBLE"/>
		<result column="lastMonthYearSales" property="lastMonthYearSales" jdbcType="DOUBLE"/>
		<result column="lastMonthStockSales" property="lastMonthStockSales" jdbcType="DOUBLE"/>
		<result column="lastMonthStockYearSales" property="lastMonthStockYearSales" jdbcType="DOUBLE"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	sales_org_id,
	    	name,
	    	city,
	    	legal_person,
	    	contacts,
	    	contact_mobile,
	    	manager_account,
	    	password,
	    	cooperation_time,
	    	cooperation_status,
	    	create_time,
	    	last_update_time,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != salesOrgId and ''!= salesOrgId  ">
			and sales_org_id = #{salesOrgId}
		</if>
		<if test=" null != name and ''!= name  ">
			and name = #{name}
		</if>
		<if test=" null != city and ''!= city  ">
			and city = #{city}
		</if>
		<if test=" null != legalPerson and ''!= legalPerson  ">
			and legal_person = #{legalPerson}
		</if>
		<if test=" null != contacts and ''!= contacts  ">
			and contacts = #{contacts}
		</if>
		<if test=" null != contactMobile and ''!= contactMobile  ">
			and contact_mobile = #{contactMobile}
		</if>
		<if test=" null != managerAccount and ''!= managerAccount  ">
			and manager_account = #{managerAccount}
		</if>
		<if test=" null != password and ''!= password  ">
			and password = #{password}
		</if>
		<if test=" null != cooperationTime ">
			and cooperation_time = #{cooperationTime}
		</if>
		<if test=" null != cooperationStatus ">
			and cooperation_status = #{cooperationStatus}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != lastUpdateTime ">
			and last_update_time = #{lastUpdateTime}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.crm.CrmSalesOrg">
		select <include refid="Base_Column_List" /> from tcrm_sales_org 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.eshop4j.web.model.crm.CrmSalesOrg">
		select <include refid="Base_Column_List" /> from tcrm_sales_org 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcrm_sales_org
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcrm_sales_org
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.eshop4j.web.model.crm.CrmSalesOrg" >
    INSERT INTO tcrm_sales_org
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != salesOrgId and ''!= salesOrgId  ">
					sales_org_id,
				</if>
			 	<if test=" null != name and ''!= name  ">
					name,
				</if>
			 	<if test=" null != city and ''!= city  ">
					city,
				</if>
			 	<if test=" null != legalPerson and ''!= legalPerson  ">
					legal_person,
				</if>
			 	<if test=" null != contacts and ''!= contacts  ">
					contacts,
				</if>
			 	<if test=" null != contactMobile and ''!= contactMobile  ">
					contact_mobile,
				</if>
			 	<if test=" null != managerAccount and ''!= managerAccount  ">
					manager_account,
				</if>
			 	<if test=" null != password and ''!= password  ">
					password,
				</if>
			 	<if test=" null != cooperationTime ">
					cooperation_time,
				</if>
			 	<if test=" null != cooperationStatus ">
					cooperation_status,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != lastUpdateTime ">
					last_update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != salesOrgId and ''!= salesOrgId  ">
					 	#{salesOrgId},
				</if>
			 	<if test=" null != name and ''!= name  ">
					 	#{name},
				</if>
			 	<if test=" null != city and ''!= city  ">
					 	#{city},
				</if>
			 	<if test=" null != legalPerson and ''!= legalPerson  ">
					 	#{legalPerson},
				</if>
			 	<if test=" null != contacts and ''!= contacts  ">
					 	#{contacts},
				</if>
			 	<if test=" null != contactMobile and ''!= contactMobile  ">
					 	#{contactMobile},
				</if>
			 	<if test=" null != managerAccount and ''!= managerAccount  ">
					 	#{managerAccount},
				</if>
			 	<if test=" null != password and ''!= password  ">
					 	#{password},
				</if>
			 	<if test=" null != cooperationTime ">
					 	#{cooperationTime},
				</if>
			 	<if test=" null != cooperationStatus ">
					 	#{cooperationStatus},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != lastUpdateTime ">
					 	#{lastUpdateTime},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop4j.web.model.crm.CrmSalesOrg" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcrm_sales_org
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != salesOrgId and ''!= salesOrgId  ">
					sales_org_id,
				</if>
			 	<if test=" null != name and ''!= name  ">
					name,
				</if>
			 	<if test=" null != city and ''!= city  ">
					city,
				</if>
			 	<if test=" null != legalPerson and ''!= legalPerson  ">
					legal_person,
				</if>
			 	<if test=" null != contacts and ''!= contacts  ">
					contacts,
				</if>
			 	<if test=" null != contactMobile and ''!= contactMobile  ">
					contact_mobile,
				</if>
			 	<if test=" null != managerAccount and ''!= managerAccount  ">
					manager_account,
				</if>
			 	<if test=" null != password and ''!= password  ">
					password,
				</if>
			 	<if test=" null != cooperationTime ">
					cooperation_time,
				</if>
			 	<if test=" null != cooperationStatus ">
					cooperation_status,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != lastUpdateTime ">
					last_update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != salesOrgId and ''!= salesOrgId  ">
					 	#{salesOrgId},
				</if>
			 	<if test=" null != name and ''!= name  ">
					 	#{name},
				</if>
			 	<if test=" null != city and ''!= city  ">
					 	#{city},
				</if>
			 	<if test=" null != legalPerson and ''!= legalPerson  ">
					 	#{legalPerson},
				</if>
			 	<if test=" null != contacts and ''!= contacts  ">
					 	#{contacts},
				</if>
			 	<if test=" null != contactMobile and ''!= contactMobile  ">
					 	#{contactMobile},
				</if>
			 	<if test=" null != managerAccount and ''!= managerAccount  ">
					 	#{managerAccount},
				</if>
			 	<if test=" null != password and ''!= password  ">
					 	#{password},
				</if>
			 	<if test=" null != cooperationTime ">
					 	#{cooperationTime},
				</if>
			 	<if test=" null != cooperationStatus ">
					 	#{cooperationStatus},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != lastUpdateTime ">
					 	#{lastUpdateTime},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop4j.web.model.crm.CrmSalesOrg" >
  		UPDATE tcrm_sales_org
		<set>
			<trim suffixOverrides=",">
					<if test=" null != salesOrgId and ''!= salesOrgId  ">
						sales_org_id = #{salesOrgId},
					</if>
					<if test=" null != name and ''!= name  ">
						name = #{name},
					</if>
					<if test=" null != city and ''!= city  ">
						city = #{city},
					</if>
					<if test=" null != legalPerson and ''!= legalPerson  ">
						legal_person = #{legalPerson},
					</if>
					<if test=" null != contacts and ''!= contacts  ">
						contacts = #{contacts},
					</if>
					<if test=" null != contactMobile and ''!= contactMobile  ">
						contact_mobile = #{contactMobile},
					</if>
					<if test=" null != managerAccount and ''!= managerAccount  ">
						manager_account = #{managerAccount},
					</if>
					<if test=" null != password and ''!= password  ">
						password = #{password},
					</if>
					<if test=" null != cooperationTime ">
						cooperation_time = #{cooperationTime},
					</if>
					<if test=" null != cooperationStatus ">
						cooperation_status = #{cooperationStatus},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != lastUpdateTime ">
						last_update_time = #{lastUpdateTime},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.eshop4j.web.model.crm.CrmSalesOrg" >
	    UPDATE tcrm_sales_org
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != salesOrgId and ''!= salesOrgId  ">
						sales_org_id = #{salesOrgId},
					</if>
					<if test=" null != name and ''!= name  ">
						name = #{name},
					</if>
					<if test=" null != city and ''!= city  ">
						city = #{city},
					</if>
					<if test=" null != legalPerson and ''!= legalPerson  ">
						legal_person = #{legalPerson},
					</if>
					<if test=" null != contacts and ''!= contacts  ">
						contacts = #{contacts},
					</if>
					<if test=" null != contactMobile and ''!= contactMobile  ">
						contact_mobile = #{contactMobile},
					</if>
					<if test=" null != managerAccount and ''!= managerAccount  ">
						manager_account = #{managerAccount},
					</if>
					<if test=" null != password and ''!= password  ">
						password = #{password},
					</if>
					<if test=" null != cooperationTime ">
						cooperation_time = #{cooperationTime},
					</if>
					<if test=" null != cooperationStatus ">
						cooperation_status = #{cooperationStatus},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != lastUpdateTime ">
						last_update_time = #{lastUpdateTime},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.eshop4j.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcrm_sales_org
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>


<!-- 查询销售机构列表 -->
<select id="querySalesOrgList" resultMap="BaseResultMap" >
	 SELECT
		o.*,
		cfplanner_count,
		ifnull(history_sales/10000,0) history_sales,
		ifnull(this_month_sales/10000,0) this_month_sales,
		ifnull(this_month_fee,0) this_month_fee,
		ifnull(lastMonthSales,0)/10000 lastMonthSales,
        ifnull(lastMonthYearSales,0)/10000 lastMonthYearSales,
        ifnull(lastMonthStockYearSales,0)/10000 lastMonthStockYearSales,
        ifnull(lastMonthStockYearSales,0)*12/10000 lastMonthStockSales
		FROM tcrm_sales_org o
		LEFT JOIN 
		(
		SELECT sales_org_id ,count(1) cfplanner_count from tcrm_cfplanner where sales_org_id is not null GROUP BY sales_org_id
		) t1
		on o.sales_org_id = t1.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.product_amount),0) history_sales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id where f.fee_type='1001' and c.sales_org_id is not null
		GROUP BY c.sales_org_id
		) t2
		on o.sales_org_id = t2.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.product_amount),0) this_month_sales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and date_format(f.create_time, '%Y-%m')=date_format(now(),'%Y-%m') 
		GROUP BY c.sales_org_id
		) t3
		on o.sales_org_id = t3.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.fee_amount),0) this_month_fee from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and date_format(f.create_time, '%Y-%m')=date_format(now(),'%Y-%m') 
		GROUP BY c.sales_org_id
		) t4
		on o.sales_org_id = t4.sales_org_id
		
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.product_amount),0) lastMonthSales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and date_format(f.create_time, '%Y-%m')= date_format( DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y-%m' )
		GROUP BY c.sales_org_id
		) t5
		on o.sales_org_id = t5.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.yearpur_amount),0) lastMonthYearSales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and  date_format(f.create_time, '%Y-%m')= date_format( DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y-%m' )
		GROUP BY c.sales_org_id
		) t6
		on o.sales_org_id = t6.sales_org_id
		LEFT JOIN
		(SELECT s.sales_org_id, ifnull(SUM(t.stockYearpurAmt), 0) lastMonthStockYearSales FROM tcrm_sales_org s 
		LEFT JOIN tcrm_cfplanner c ON s.sales_org_id = c.sales_org_id 
		LEFT JOIN ( SELECT fd.profit_cfplanner_id, SUM( CASE WHEN date_format(fd.create_time, '%Y-%m') 
		= date_format( DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y-%m' ) THEN fd.yearpur_amount ELSE 0 END ) stockYearpurAmt 
		FROM tcim_feedetail fd JOIN ( SELECT fd.bill_id, MIN(fd.create_time) mintime FROM tcim_feedetail fd 
		LEFT JOIN tcim_product p ON p.product_id = fd.product_id WHERE p.is_fixed_deadline = 2 
		AND fd.fee_amount > 0 AND fd.fee_type = '1001' GROUP BY fd.bill_id ) a ON fd.bill_id = a.bill_id 
		AND fd.create_time <![CDATA[ <>]]> a.mintime GROUP BY fd.bill_id ) t ON c.user_id = t.profit_cfplanner_id GROUP BY s.sales_org_id
		)t7
		on o.sales_org_id = t7.sales_org_id
	<where>
	 	1=1
	 	<if test=" null != query.nameOrmobile and ''!= query.nameOrmobile ">
	 		and o.name  = #{query.nameOrmobile} or o.contacts =#{query.nameOrmobile} or o.contact_mobile =#{query.nameOrmobile}
		</if>
	 </where>
	 order BY o.id desc
</select>

<!-- 理财师列表 -->
<select id="querySalesOrgCfpList" resultType="com.eshop4j.web.model.crm.SalesOrgCfpResp" >
	 select c.city,c.user_name userName,c.user_id,c.mobile,c.create_time createTime, t3.customerCount,
		IFNULL(t1.history_sales,0) as totalSales, IFNULL(t1.history_fee,0) as totalfee,
		IFNULL(t2.this_month_sales,0) as thisMonthSales,IFNULL(t2.this_month_fee,0) as thisMonthtotalfee
		 from 
		(
		select a.city,u.user_name,c.user_id,c.mobile,c.create_time from tcrm_cfplanner c
		LEFT JOIN tcrm_user_info u on u.user_id=c.user_id
		LEFT JOIN  tsys_mobile_area a on a.mobile = left(c.mobile,7)
		where c.sales_org_id=#{query.salesOrgId} 
		) c
		LEFT JOIN 
		(
		SELECT f.profit_cfplanner_id, sum(f.product_amount) as history_sales ,sum(fee_amount) as history_fee from tcim_fee f LEFT JOIN tcrm_cfplanner c on f.profit_cfplanner_id=c.user_id 
		where f.fee_type='1001' and c.sales_org_id=#{query.salesOrgId} 
		GROUP BY f.profit_cfplanner_id
		) t1
		on c.user_id=t1.profit_cfplanner_id
		LEFT JOIN 
		(
		SELECT f.profit_cfplanner_id, sum(f.product_amount) as this_month_sales ,sum(fee_amount) as this_month_fee from tcim_fee f LEFT JOIN tcrm_cfplanner c on f.profit_cfplanner_id=c.user_id 
		where f.fee_type='1001' and date_format(f.create_time, '%Y-%m')=date_format(now(),'%Y-%m')  and c.sales_org_id=#{query.salesOrgId} 
		GROUP BY f.profit_cfplanner_id
		) t2
		on c.user_id=t2.profit_cfplanner_id
		LEFT JOIN
		(
		SELECT c.user_id, count(i.id) customerCount from  tcrm_investor i LEFT JOIN tcrm_cfplanner c on i.cfplanner=c.user_id where c.sales_org_id=#{query.salesOrgId}  
		GROUP BY c.user_id 
		)t3
		on c.user_id=t3.user_id
	<where>
	 	1=1
	 	<if test=" null != query.nameOrmobile and ''!= query.nameOrmobile ">
	 		and c.user_name  = #{query.nameOrmobile} or c.mobile =#{query.nameOrmobile} 
		</if>
		<if test=" null != query.city and ''!= query.city ">
			and c.city = #{query.city}
  		</if>
	 </where>
</select>

<!-- 机构销售明细 -->
<select id="querySalesDetailList" resultType="com.eshop4j.web.model.crm.OrgSalesDetailResp" >
	SELECT a.city,
	(select `name` from tcim_org_info where org_number=
	(select org_number from tcim_product where product_id=f.product_id)) platform,
	uc.user_name as cfpName,uc.mobile as cfpMobile,
	ui.user_name as investorName,ui.mobile as investorMobile,
	f.product_amount investAmount,f.create_time investTime,f.fee_amount salesCost
	from tcim_fee f
	LEFT JOIN tcrm_cfplanner c
	on f.profit_cfplanner_id=c.user_id
	LEFT JOIN  tsys_mobile_area a on a.mobile = left(c.mobile,7)
	LEFT JOIN tcrm_user_info uc
	on uc.user_id=f.profit_cfplanner_id
	LEFT JOIN tcrm_user_info ui
	on ui.user_id=f.investor_id
	LEFT JOIN tcim_product p on p.product_id=f.product_id 
	<where>
	 	1=1
	 	and f.fee_type='1001' and c.sales_org_id=#{query.salesOrgId} 
	 	<if test=" null != query.nameOrmobile and ''!= query.nameOrmobile ">
	 		and uc.user_name  = #{query.nameOrmobile} or uc.mobile =#{query.nameOrmobile} 
		</if>
		<if test=" null != query.city and ''!= query.city ">
			and a.city = #{query.city}
  		</if>
  		<if test=" null != query.platform and ''!= query.platform ">
  			and p.org_number= #{query.platform}
  		</if>
  		<if test=" null != query.startTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &gt;=  DATE_FORMAT(#{query.startTimeForSearch}, '%Y-%m-%d')
		</if>
		<if test=" null != query.endTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &lt;=  DATE_FORMAT(#{query.endTimeForSearch}, '%Y-%m-%d')
		</if>
	 </where>
	 order by f.create_time desc
	 
	<!--  
	 SELECT  
				cfpName,
				cfpMobile cfpMobile,
				city,
				customerName investorName,
				customerMobile investorMobile,
				IFNULL(investAmt, 0) investAmount,
				platfromName platform,
				time investTime,
				salesCost
			FROM (
				SELECT
					u.user_name cfpName,
					u.mobile cfpMobile,
					m.city,
					iu.user_name customerName,
					iu.mobile customerMobile,
					ir.invest_amt investAmt,
					o.`name` platfromName,
					f.fee_amount salesCost,
					ir.start_time time
				FROM
					tcrm_cfplanner c
				LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
				LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT (c.mobile, 7)
				LEFT JOIN tcim_fee f ON f.profit_cfplanner_id = c.user_id
				AND f.fee_type = '1001'
				LEFT JOIN tcrm_user_info iu ON f.investor_id = iu.user_id
				LEFT JOIN tcim_org_info o ON f.product_org_id = o.org_number
				LEFT JOIN tcim_product_invest_record ir ON ir.invest_id = f.bill_id
				WHERE
					c.sales_org_id = #{query.salesOrgId}	
					<if test=" null != query.city and '' != query.city">
						AND m.city = #{query.city} 
					</if>	
					<if test=" null != query.platform and '' != query.platform">
						AND o.org_number = #{query.platform}
					</if>
					<if test=" null != query.nameOrmobile and '' != query.nameOrmobile">
						AND (u.mobile = #{query.nameOrmobile} OR u.user_name= #{query.nameOrmobile})
					</if>
					<if test=" null != query.startTimeForSearch and '' != query.startTimeForSearch">
						<![CDATA[  AND DATE_FORMAT(ir.start_time, '%Y-%m-%d')  >= DATE_FORMAT(#{query.startTimeForSearch}, '%Y-%m-%d') ]]> 
					</if>
					<if test=" null != query.endTimeForSearch and '' != query.endTimeForSearch">
						<![CDATA[  AND DATE_FORMAT(ir.start_time, '%Y-%m-%d')  <= DATE_FORMAT(#{query.endTimeForSearch}, '%Y-%m-%d') ]]> 
					</if>	
					
				UNION ALL
				
				SELECT
					u.user_name cfpName,
					u.mobile cfpMobile,
					m.city,
					ui.user_name customerName,
					ui.user_mobile customerMobile,
					ui.invest_amt investAmt,
					ui.platfrom_name platfromName,
					ui.fee_amt salesCost,
					ui.invest_time time 
				FROM
					tcrm_cfplanner c
				LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
				LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT (c.mobile, 7)
				LEFT JOIN tcim_product_unrecord_invest ui ON ui.cfplanner_id = c.user_id AND ui.`status` = 1
				WHERE
					c.sales_org_id = #{query.salesOrgId} 
					<if test=" null != query.city and '' != query.city">
						AND m.city = #{query.city} 
					</if>	
					<if test=" null != query.platform and '' != query.platform">
						AND ui.platfrom = #{query.platform}
					</if>
					<if test=" null != query.nameOrmobile and '' != query.nameOrmobile">
						AND (u.mobile = #{query.nameOrmobile} OR u.user_name= #{query.nameOrmobile})
					</if>
					<if test=" null != query.startTimeForSearch and '' != query.startTimeForSearch">
						<![CDATA[  AND DATE_FORMAT(ui.invest_time, '%Y-%m-%d')  >= DATE_FORMAT(#{query.startTimeForSearch}, '%Y-%m-%d') ]]> 
					</if>
					<if test=" null != query.endTimeForSearch and '' != query.endTimeForSearch">
						<![CDATA[  AND DATE_FORMAT(ui.invest_time, '%Y-%m-%d')  <= DATE_FORMAT(#{query.endTimeForSearch}, '%Y-%m-%d')  ]]> 
					</if>
			) a ORDER BY a.time desc -->
</select>

<!-- 机构业绩-->
<select id="querySalesOrgAchiByNumber" resultType="com.eshop4j.web.model.crm.SaleOrgAchiResp" >
	SELECT
		cfplanner_count as cfplannerCount,
		ifnull(history_sales/10000,0) history_sales,
		ifnull(this_month_sales/10000,0) this_month_sales,
		ifnull(this_month_fee,0) this_month_fee
		FROM tcrm_sales_org o
		LEFT JOIN 
		(
		SELECT sales_org_id ,count(1) cfplanner_count from tcrm_cfplanner where sales_org_id is not null GROUP BY sales_org_id
		) t1
		on o.sales_org_id = t1.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.product_amount),0) history_sales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id where f.fee_type='1001' and c.sales_org_id is not null
		GROUP BY c.sales_org_id
		) t2
		on o.sales_org_id = t2.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.product_amount),0) this_month_sales from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and date_format(f.create_time, '%Y-%m')=date_format(now(),'%Y-%m') 
		GROUP BY c.sales_org_id
		) t3
		on o.sales_org_id = t3.sales_org_id
		LEFT JOIN 
		(
		SELECT  c.sales_org_id, ifnull(sum(f.fee_amount),0) this_month_fee from tcim_fee f  LEFT JOIN tcrm_cfplanner c on c.user_id=f.profit_cfplanner_id
		 where f.fee_type='1001' and c.sales_org_id is not null
		and date_format(f.create_time, '%Y-%m')=date_format(now(),'%Y-%m') 
		GROUP BY c.sales_org_id
		) t4
		on o.sales_org_id = t4.sales_org_id
	<where>
	 	o.sales_org_id=#{salesOrgId} 
	 </where>
</select>


<!-- 机构业绩明细统计-->
<select id="getSalesDetailListTotal" resultType="com.eshop4j.web.model.crm.TeamStatisticalResponse" >
	SELECT 
	ifnull(sum(f.product_amount),0)/10000 totalAmt,
	ifnull(sum(f.fee_amount),0)/10000 totalFeeAmt, 
	ifnull(sum(f.yearpur_amount),0)/10000  totalYearpurAmt,
	 count(1) investCount,
	ifnull(sum(fd.stockYearpurAmt),0)/10000 as stockYearpurAmt
	from tcim_fee f
	LEFT JOIN tcrm_cfplanner c
	on f.profit_cfplanner_id=c.user_id
	LEFT JOIN  tsys_mobile_area a on a.mobile = left(c.mobile,7)
	LEFT JOIN tcrm_user_info uc
	on uc.user_id=f.profit_cfplanner_id
	LEFT JOIN tcrm_user_info ui
	on ui.user_id=f.investor_id
	LEFT JOIN tcim_product p on p.product_id=f.product_id 
	LEFT JOIN
					(
						<![CDATA[ 
							SELECT SUM(a.yearpur_amount) stockYearpurAmt,a.bill_id FROM `tcim_feedetail` a JOIN 
							(SELECT
								MIN(f.create_time) time,f.bill_id
							FROM
								`tcim_feedetail` f
							LEFT JOIN tcim_product p ON f.product_id = p.product_id
							WHERE
								p.is_fixed_deadline = 2 AND f.fee_amount > 0 AND f.fee_type='1001'
							GROUP BY f.bill_id)b ON a.bill_id = b.bill_id AND a.create_time<>b.time
							
							GROUP BY a.bill_id 
						]]> 
					) fd ON fd.bill_id = f.bill_id
	<where>
	 	1=1
	 	and f.fee_type='1001' and c.sales_org_id=#{query.salesOrgId} 
	 	<if test=" null != query.nameOrmobile and ''!= query.nameOrmobile ">
	 		and uc.user_name = #{query.nameOrmobile} or uc.mobile =#{query.nameOrmobile} 
		</if>
		<if test=" null != query.city and ''!= query.city ">
			and a.city = #{query.city}
  		</if>
  		<if test=" null != query.platform and ''!= query.platform ">
  			and p.org_number= #{query.platform}
  		</if>
  		<if test=" null != query.startTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &gt;=  DATE_FORMAT(#{query.startTimeForSearch}, '%Y-%m-%d')
		</if>
		<if test=" null != query.endTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &lt;=  DATE_FORMAT(#{query.endTimeForSearch}, '%Y-%m-%d')
		</if>
	 </where>
</select>

<!-- 机构有销售记录的理财师数量-->
<select id="querycfpOfInvestedCount" resultType="int" >
	SELECT 
	count(DISTINCT(c.user_id))
	from tcim_fee f
	LEFT JOIN tcrm_cfplanner c
	on f.profit_cfplanner_id=c.user_id
	LEFT JOIN tcrm_user_info uc
	on uc.user_id=f.profit_cfplanner_id
	<where>
	 	1=1
	 	and f.fee_type='1001' and c.sales_org_id=#{query.salesOrgId} 
	 	<if test=" null != query.nameOrmobile and ''!= query.nameOrmobile ">
	 		and uc.user_name  = #{query.nameOrmobile} or uc.mobile =#{query.nameOrmobile} 
		</if>
		<if test=" null != query.city and ''!= query.city ">
			and a.city = #{query.city}
  		</if>
  		<if test=" null != query.platform and ''!= query.platform ">
  			and p.org_number= #{query.platform}
  		</if>
  		<if test=" null != query.startTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &gt;=  DATE_FORMAT(#{query.startTimeForSearch}, '%Y-%m-%d')
		</if>
		<if test=" null != query.endTimeForSearch">
			and DATE_FORMAT(f.create_time, '%Y-%m-%d') &lt;=  DATE_FORMAT(#{query.endTimeForSearch}, '%Y-%m-%d')
		</if>
	 </where>
</select>

<!-- 获取存量 -->
<select id="getStockYearpurAmt" resultType="map">
	  	SELECT IFNULL(znh,0)/10000 znh,IFNULL(gdnh,0)/10000 gdnh ,IFNULL(gdinvest,0)/10000 gdinvest  FROM 
			(
			SELECT
			  SUM(f.yearpur_amount) gdnh,SUM(f.product_amount) gdinvest
			FROM
			  tcrm_cfplanner c
			LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
			LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT(c.mobile,7)
			LEFT JOIN tcim_fee f ON c.user_id = f.profit_cfplanner_id
			AND f.fee_type = '1001'
			AND DATE(f.create_time) BETWEEN #{query.startTimeForSearch}
			AND #{query.endTimeForSearch}
			AND f.fee_amount > 0
			<where>
				c.sales_org_id = #{query.salesOrgId}
				<if test=" null != query.city and '' != query.city">
					AND m.city = #{query.city} 
				</if>	
				<if test=" null != query.platform and '' != query.platform">
					AND f.product_org_id = #{query.platform}
				</if>
				<if test=" null != query.nameOrmobile and '' != query.nameOrmobile">
					AND (u.mobile = #{query.nameOrmobile} OR u.user_name= #{query.nameOrmobile})
				</if>
			</where>
			) a,
			(
			SELECT
			 SUM(f.yearpur_amount) znh
			FROM
			  tcrm_cfplanner c
			LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
			LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT(c.mobile,7)
			LEFT JOIN  tcim_feedetail f ON c.user_id = f.profit_cfplanner_id
			AND f.fee_type = '1001'
			AND DATE(f.create_time) BETWEEN #{query.startTimeForSearch}
			AND #{query.endTimeForSearch}
			AND f.fee_amount > 0
			<where>
				c.sales_org_id = #{query.salesOrgId}
				<if test=" null != query.city and '' != query.city">
					AND m.city = #{query.city} 
				</if>	
				<if test=" null != query.platform and '' != query.platform">
					AND f.product_org_id = #{query.platform}
				</if>
				<if test=" null != query.nameOrmobile and '' != query.nameOrmobile">
					AND (u.mobile = #{query.nameOrmobile} OR u.user_name= #{query.nameOrmobile})
				</if>
			</where>
			) b
	  
	  </select>
	  
	  
<select id="queryStockYearpurAmtBySalesOrgId" resultType="map">
 	SELECT IFNULL(znh,0)/10000 znh,IFNULL(gdnh,0)/10000 gdnh ,IFNULL(gdinvest,0)/10000 gdinvest  FROM 
	(
	SELECT
	  SUM(f.yearpur_amount) gdnh,SUM(f.product_amount) gdinvest
	FROM
	  tcrm_cfplanner c
	LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
	LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT(c.mobile,7)
	LEFT JOIN tcim_fee f ON c.user_id = f.profit_cfplanner_id
	AND f.fee_type = '1001'
	AND DATE(f.create_time) BETWEEN date_sub(date_sub(date_format(now(),'%y-%m-%d'),interval extract(  
   day from now())-1 day),interval 1 month)
	AND date_sub(date_sub(date_format(now(),'%y-%m-%d'),interval extract(  
   day from now()) day),interval 0 month)
	AND f.fee_amount > 0
	<where>
		c.sales_org_id = #{salesOrgId}
	</where>
	) a,
	(
	SELECT
	 SUM(f.yearpur_amount) znh
	FROM
	  tcrm_cfplanner c
	LEFT JOIN tcrm_user_info u ON c.user_id = u.user_id
	LEFT JOIN tsys_mobile_area m ON m.mobile = LEFT(c.mobile,7)
	LEFT JOIN  tcim_feedetail f ON c.user_id = f.profit_cfplanner_id
	AND f.fee_type = '1001'
	AND DATE(f.create_time) BETWEEN date_sub(date_sub(date_format(now(),'%y-%m-%d'),interval extract(  
   day from now())-1 day),interval 1 month)
	AND date_sub(date_sub(date_format(now(),'%y-%m-%d'),interval extract(  
   day from now()) day),interval 0 month)
	AND f.fee_amount > 0
	<where>
		c.sales_org_id = #{salesOrgId}
	</where>
	) b
</select>

<select id="checkNameExistForUpdate" resultType="int">
select count(1) from tcrm_sales_org where name=#{orgName} and id<![CDATA[ <>]]> #{id}
</select>

<select id="checkMobileExistForUpdate" resultType="int">
select count(1) from tcrm_sales_org where contact_mobile=#{contactMobile} and id<![CDATA[ <>]]> #{id}
</select>

<select id="checkAccountExistForUpdate" resultType="int">
select count(1) from tcrm_sales_org where manager_account=#{managerAccount} and id<![CDATA[ <>]]> #{id}
</select>

</mapper>