<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.CimProductInvestRecordMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.cim.CimProductInvestRecord" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="invest_id" property="investId" jdbcType="VARCHAR"/>
		<result column="invest_record_no" property="investRecordNo" jdbcType="VARCHAR"/>
		<result column="tx_id" property="txId" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="product_id" property="productId" jdbcType="VARCHAR"/>
		<result column="third_product_id" property="thirdProductId" jdbcType="VARCHAR"/>
		<result column="product_fee_rate" property="productFeeRate" jdbcType="DECIMAL"/>
		<result column="invest_amt" property="investAmt" jdbcType="DECIMAL"/>
		<result column="profit" property="profit" jdbcType="DECIMAL"/>
		<result column="accurate_profit" property="accurateProfit" jdbcType="DECIMAL"/>
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" />
		<result column="platfrom" property="platfrom" jdbcType="VARCHAR"/>
		<result column="is_platfrom_first_invest" property="isPlatfromFirstInvest" jdbcType="INTEGER"/>
		<result column="is_first_invest" property="isFirstInvest" jdbcType="INTEGER"/>
		<result column="biz_time" property="bizTime" jdbcType="TIMESTAMP"/>
		<result column="create_time" property="createTime"  jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		
	</resultMap>
 	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	invest_id,
	    	invest_record_no,
	    	tx_id,
	    	user_id,
	    	product_id,
	    	third_product_id,
	    	invest_amt,
	    	profit,
	    	accurate_profit,
	    	start_time,
	    	end_time,
	    	status,
	    	platfrom,
	    	biz_time,
	    	is_first_invest,
	    	create_time,
	    	update_time,
    </trim>
  </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != investId and ''!= investId  ">
			and invest_id = #{investId}
		</if>
		<if test=" null != investRecordNo and ''!= investRecordNo  ">
			and invest_record_no = #{investRecordNo}
		</if>
		<if test=" null != txId and ''!= txId  ">
			and tx_id = #{txId}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != productId and ''!= productId  ">
			and product_id = #{productId}
		</if>
		<if test=" null != thirdProductId and ''!= thirdProductId  ">
			and third_product_id = #{thirdProductId}
		</if>
		<if test=" null != investAmt ">
			and invest_amt = #{investAmt}
		</if>
		<if test=" null != profit ">
			and profit = #{profit}
		</if>
		<if test=" null != accurateProfit ">
			and accurate_profit = #{accurateProfit}
		</if>
		<if test=" null != startTime ">
			and start_time = #{startTime}
		</if>
		<if test=" null != endTime ">
			and end_time = #{endTime}
		</if>
		<if test=" null != status ">
			and status = #{status}
		</if>
		<if test=" null != platfrom and ''!= platfrom  ">
			and platfrom = #{platfrom}
		</if>
		<if test=" null != bizTime ">
			and biz_time = #{bizTime}
		</if>
		<if test=" null != isFirstInvest ">
			and is_first_invest = #{isFirstInvest}
		</if>
		<if test=" null != createTime ">
			and create_time = #{createTime}
		</if>
		<if test=" null != updateTime ">
			and update_time = #{updateTime}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.cim.CimProductInvestRecord">
		select <include refid="Base_Column_List" /> from tcim_product_invest_record 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.cim.CimProductInvestRecord">
		select <include refid="Base_Column_List" /> from tcim_product_invest_record 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcim_product_invest_record
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcim_product_invest_record
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.cim.CimProductInvestRecord" >
    INSERT INTO tcim_product_invest_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					invest_id,
				</if>
			 	<if test=" null != investRecordNo and ''!= investRecordNo  ">
					invest_record_no,
				</if>
				<if test=" null != txId and ''!= txId  ">
					tx_id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					product_id,
				</if>
			 	<if test=" null != thirdProductId and ''!= thirdProductId  ">
					third_product_id,
				</if>
			 	<if test=" null != investAmt ">
					invest_amt,
				</if>
			 	<if test=" null != profit ">
					profit,
				</if>
			 	<if test=" null != accurateProfit ">
					accurate_profit,
				</if>
			 	<if test=" null != startTime ">
					start_time,
				</if>
			 	<if test=" null != endTime ">
					end_time,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					platfrom,
				</if>
				<if test=" null != isPlatfromFirstInvest and ''!= isPlatfromFirstInvest  ">
					is_platfrom_first_invest,
				</if>
				
				<if test=" null != isFirstInvest ">
					 is_first_invest,
				</if>
			 	<if test=" null != bizTime ">
					biz_time,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					 	#{investId},
				</if>
			 	<if test=" null != investRecordNo and ''!= investRecordNo  ">
					 	#{investRecordNo},
				</if>
				<if test=" null != txId and ''!= txId  ">
					 	#{txId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					 	#{productId},
				</if>
			 	<if test=" null != thirdProductId and ''!= thirdProductId  ">
					 	#{thirdProductId},
				</if>
			 	<if test=" null != investAmt ">
					 	#{investAmt},
				</if>
			 	<if test=" null != profit ">
					 	#{profit},
				</if>
			 	<if test=" null != accurateProfit ">
					 	#{accurateProfit},
				</if>
			 	<if test=" null != startTime ">
					 	#{startTime},
				</if>
			 	<if test=" null != endTime ">
					 	#{endTime},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					 	#{platfrom},
				</if>
				<if test=" null != isPlatfromFirstInvest and ''!= isPlatfromFirstInvest  ">
					#{isPlatfromFirstInvest},
				</if>
				<if test=" null != isFirstInvest ">
				 		#{isFirstInvest},
				</if>
			 	<if test=" null != bizTime ">
					 	#{bizTime},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.cim.CimProductInvestRecord" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcim_product_invest_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					invest_id,
				</if>
			 	<if test=" null != investRecordNo and ''!= investRecordNo  ">
					invest_record_no,
				</if>
				<if test=" null != txId and ''!= txId  ">
					tx_id,
				</if>
				
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					product_id,
				</if>
			 	<if test=" null != thirdProductId and ''!= thirdProductId  ">
					third_product_id,
				</if>
				<if test=" null != productFeeRate ">
					product_fee_rate,
				</if>
			 	<if test=" null != investAmt ">
					invest_amt,
				</if>
			 	<if test=" null != profit ">
					profit,
				</if>
			 	<if test=" null != accurateProfit ">
					accurate_profit,
				</if>
			 	<if test=" null != startTime ">
					start_time,
				</if>
			 	<if test=" null != endTime ">
					end_time,
				</if>
			 	<if test=" null != status ">
					status,
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					platfrom,
				</if>
				<if test=" null != isPlatfromFirstInvest and ''!= isPlatfromFirstInvest  ">
					is_platfrom_first_invest,
				</if>
				<if test=" null != isFirstInvest ">
				 	is_first_invest,
				</if>
			 	<if test=" null != bizTime ">
					biz_time,
				</if>
			 	<if test=" null != createTime ">
					create_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != investId and ''!= investId  ">
					 	#{investId},
				</if>
			 	<if test=" null != investRecordNo and ''!= investRecordNo  ">
					 	#{investRecordNo},
				</if>
				<if test=" null != txId and ''!= txId  ">
						#{txId},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != productId and ''!= productId  ">
					 	#{productId},
				</if>
			 	<if test=" null != thirdProductId and ''!= thirdProductId  ">
					 	#{thirdProductId},
				</if>
				<if test=" null != productFeeRate ">
						#{productFeeRate},
				</if>
			 	<if test=" null != investAmt ">
					 	#{investAmt},
				</if>
			 	<if test=" null != profit ">
					 	#{profit},
				</if>
			 	<if test=" null != accurateProfit ">
					 	#{accurateProfit},
				</if>
			 	<if test=" null != startTime ">
					 	#{startTime},
				</if>
			 	<if test=" null != endTime ">
					 	#{endTime},
				</if>
			 	<if test=" null != status ">
					 	#{status},
				</if>
			 	<if test=" null != platfrom and ''!= platfrom  ">
					 	#{platfrom},
				</if>
				<if test=" null != isPlatfromFirstInvest and ''!= isPlatfromFirstInvest  ">
					#{isPlatfromFirstInvest},
				</if>
				<if test=" null != isFirstInvest ">
				 		#{isFirstInvest},
				</if>
			 	<if test=" null != bizTime ">
					 	#{bizTime},
				</if>
			 	<if test=" null != createTime ">
					 	#{createTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.cim.CimProductInvestRecord" >
  		UPDATE tcim_product_invest_record
		<set>
			<trim suffixOverrides=",">
					<if test=" null != investId and ''!= investId  ">
						invest_id = #{investId},
					</if>
					<if test=" null != investRecordNo and ''!= investRecordNo  ">
						invest_record_no = #{investRecordNo},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != productId and ''!= productId  ">
						product_id = #{productId},
					</if>
					<if test=" null != thirdProductId and ''!= thirdProductId  ">
						third_product_id = #{thirdProductId},
					</if>
					<if test=" null != investAmt ">
						invest_amt = #{investAmt},
					</if>
					<if test=" null != profit ">
						profit = #{profit},
					</if>
					<if test=" null != accurateProfit ">
						accurate_profit = #{accurateProfit},
					</if>
					<if test=" null != startTime ">
						start_time = #{startTime},
					</if>
					<if test=" null != endTime ">
						end_time = #{endTime},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != platfrom and ''!= platfrom  ">
						platfrom = #{platfrom},
					</if>
					<if test=" null != isFirstInvest ">
						is_first_invest = #{isFirstInvest}
					</if>
					<if test=" null != bizTime ">
						biz_time = #{bizTime},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
	
	
	<update id="updateInvestRecordEndTimeByProductId">
			UPDATE tcim_product_invest_record  SET
				end_time = #{endTime},
				update_time=now()	
			WHERE product_id = #{productId}
	</update>
	
	<!-- 更新回款状态 -->
	<update id="updateRepaymentStatus">
	
		UPDATE tcim_product_invest_record  SET
		<if test="status == 2">
			status=2,accurate_profit=accurate_profit + #{accurateProfit},
		</if>
		<if test="status == 3">
			status=3,accurate_profit=accurate_profit + #{accurateProfit}<!-- ,end_time=#{repaymentTime} -->,
		</if>
		<if test="status == 4">
			invest_amt= (CASE  WHEN invest_amt - #{repaymentAmount} >0  then invest_amt - #{repaymentAmount} ELSE 0 END),
		</if>
		update_time=now()	WHERE invest_record_no=#{investRecordNo}
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.cim.CimProductInvestRecord" >
	    UPDATE tcim_product_invest_record
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != investId and ''!= investId  ">
						invest_id = #{investId},
					</if>
					<if test=" null != investRecordNo and ''!= investRecordNo  ">
						invest_record_no = #{investRecordNo},
					</if>
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != productId and ''!= productId  ">
						product_id = #{productId},
					</if>
					<if test=" null != thirdProductId and ''!= thirdProductId  ">
						third_product_id = #{thirdProductId},
					</if>
					<if test=" null != investAmt ">
						invest_amt = #{investAmt},
					</if>
					<if test=" null != profit ">
						profit = #{profit},
					</if>
					<if test=" null != accurateProfit ">
						accurate_profit = #{accurateProfit},
					</if>
					<if test=" null != startTime ">
						start_time = #{startTime},
					</if>
					<if test=" null != endTime ">
						end_time = #{endTime},
					</if>
					<if test=" null != status ">
						status = #{status},
					</if>
					<if test=" null != platfrom and ''!= platfrom  ">
						platfrom = #{platfrom},
					</if>
					<if test=" null != isFirstInvest ">
						is_first_invest = #{isFirstInvest}
					</if>
					<if test=" null != bizTime ">
						biz_time = #{bizTime},
					</if>
					<if test=" null != createTime ">
						create_time = #{createTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcim_product_invest_record
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>
    
     <select id="selectRefInvestRecord" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT distinct user_id FROM tcim_product_invest_record
        <where>
			<foreach item="item" index="index" collection="list" open=" user_id in ("
				separator="," close=") ">
				#{item}
			</foreach>
		</where> 
    </select>

    
     <select id="queryFirsInvestTime" resultType="int" >
        SELECT count(id) FROM tcim_product_invest_record 
        <where>
			user_id = #{userId} and   platfrom =#{orgNumber}
		</where> 
    </select>
    

    
    <!-- 查询客户投资总额 -->
    <select id="queryCustomerInvestTotalAmount" resultType="BigDecimal">
    	SELECT IFNULL(SUM(t.invest_amt),0) FROM tcim_product_invest_record t WHERE t.user_id=#{userId}
    </select>
    
    <!-- 查询当前在投总额-->
     <select id="queryCurrInvestAmount" resultType="BigDecimal">
    	SELECT IFNULL(SUM(t.invest_amt),0) FROM tcim_product_invest_record t WHERE t.user_id=#{userId} and t.status=1
    </select>
    
     <!-- 查询客户投资收益 -->
    <select id="queryCustomerInvestTotalProfit" resultType="BigDecimal">
    	 SELECT IFNULL(SUM(t.profit),0) FROM tcim_product_invest_record t WHERE t.user_id=#{userId} AND t.status IN (1,2,3)
    </select> 
    
    <!-- 查询客户投资记录 -->
    <select id="queryCustomerInvestRecord" resultType="com.linkwee.api.response.tc.InvestRecordResponse">
    	SELECT
			p.product_id productId,
			p.dead_line_min_value minDay,
			p.dead_line_max_value maxDay,
			p.dead_line_min_self_defined selfMinDay,
			p.dead_line_max_self_defined selfMaxDay,
			p.is_fixed_deadline dayType,
			p.product_name productName,
			t.platfrom,
			o.`name` platfromName,
			t.invest_amt investAmount,
			t.profit profit,
			t.start_time startDate,
			t.end_time endDate,
			t.update_time updateDate
		FROM
			tcim_product_invest_record t
		LEFT JOIN tcim_product p ON t.product_id = p.product_id
		LEFT JOIN tcim_org_info o ON t.platfrom = o.org_number
		WHERE
			t.user_id = #{userId}
		AND t.status = #{status}
    	ORDER BY t.start_time desc
    	 
    </select> 
    
    <select id="queryCfplannerCustomerInvestRecordStatistic" resultType="com.linkwee.api.response.tc.CustomerInvestRecordStatisticResponse" >     	
		SELECT
			IFNULL(SUM(f.product_amount),0) total,
			IFNULL(SUM(f.fee_amount),0) feeAmt,
			COUNT(f.biz_id) count,
			COUNT(DISTINCT f.investor_id) number
		FROM
			tcim_fee f 
		WHERE
			f.profit_cfplanner_id = #{userId}				
		AND f.fee_type = '1001'
		
		<if test=" null != dateType ">
				<if test=" 1 == dateType ">
					 and year(f.create_time)=year(#{date})
				</if>
				<if test=" 2 == dateType ">
					 and year(f.create_time)=year(#{date}) and QUARTER(f.create_time)=QUARTER(#{date})
				</if>
				<if test=" 3 == dateType ">
					 and DATE_FORMAT(f.create_time,'%Y-%m')=DATE_FORMAT(#{date},'%Y-%m')
				</if>
				<if test=" 4 == dateType ">
					 and DATE_FORMAT(f.create_time,'%Y-%m-%d')=DATE_FORMAT(#{date},'%Y-%m-%d')
				</if>
				<if test=" 5 == dateType ">
					 AND f.create_time BETWEEN date_sub(curdate(),interval WEEKDAY(curdate()) day) AND curdate()
				</if>
			</if>
		GROUP BY
			f.fee_type
    </select>
    
    
	<select id="queryCfplannerCustomerInvestRecord" resultType="com.linkwee.api.response.tc.CustomerInvestRecordResponse">     	
		SELECT
			u.user_id uid,
			u.user_name name,
			u.mobile mobile,
			iu.head_image image,
			p.product_name productName,
			p.is_flow isflow,
			f.fee_rate feeRate,
			p.flow_max_rate flowMaxRate,
			p.flow_min_rate flowMinRate,
			f.create_time date,
			f.product_amount amt
			FROM
				tcim_fee f
			  	LEFT JOIN tcrm_user_info u ON f.investor_id=u.user_id
			  	LEFT JOIN tcrm_investor iu ON f.investor_id=iu.user_id
				LEFT JOIN tcim_product p ON f.product_id =p.product_id
			WHERE
				f.profit_cfplanner_id = #{userId}
			
			AND f.fee_type = '1001' 
			
			<if test=" null != dateType ">
				<if test=" 1 == dateType ">
					 AND year(f.create_time)=year(#{date})
				</if>
				<if test=" 2 == dateType ">
					 AND year(f.create_time)=year(#{date}) and QUARTER(f.create_time)=QUARTER(#{date})
				</if>
				<if test=" 3 == dateType ">
					 AND DATE_FORMAT(f.create_time,'%Y-%m')=DATE_FORMAT(#{date},'%Y-%m')
				</if>
				<if test=" 4 == dateType ">
					 AND DATE_FORMAT(f.create_time,'%Y-%m-%d')=DATE_FORMAT(#{date},'%Y-%m-%d')
				</if>
				<if test=" 5 == dateType ">
					 AND f.create_time BETWEEN date_sub(curdate(),interval WEEKDAY(curdate()) day) AND curdate()
				</if>
			</if>
			ORDER BY f.create_time DESC
    </select>
    
    
    
    <select id="queryCfplannerInvestCustomerDetail" resultType="com.linkwee.api.response.tc.CustomerInvestRecordResponse">     	
		SELECT
		u.user_id uid,
		u.user_name name,
		u.mobile mobile,
		iu.head_image image,
		COUNT(biz_id) count,
		IFNULL(sum(f.product_amount),0) amt
		FROM
			tcim_fee f  
			LEFT JOIN tcrm_user_info u ON f.investor_id=u.user_id 
			LEFT JOIN tcrm_investor iu ON f.investor_id=iu.user_id
		WHERE
			f.profit_cfplanner_id = #{userId}
		AND f.fee_type = '1001' 
		<if test=" null != dateType ">
			<if test=" 1 == dateType ">
				 AND year(f.create_time)=year(#{date})
			</if>
			<if test=" 2 == dateType ">
				 AND year(f.create_time)=year(#{date}) and QUARTER(f.create_time)=QUARTER(#{date})
			</if>
			<if test=" 3 == dateType ">
				 AND DATE_FORMAT(f.create_time,'%Y-%m')=DATE_FORMAT(#{date},'%Y-%m')
			</if>
			<if test=" 4 == dateType ">
				 AND DATE_FORMAT(f.create_time,'%Y-%m-%d')=DATE_FORMAT(#{date},'%Y-%m-%d')
			</if>
			<if test=" 5 == dateType ">
					 AND f.create_time BETWEEN date_sub(curdate(),interval WEEKDAY(curdate()) day) AND curdate()
			</if>
		</if>
		 GROUP BY f.investor_id ORDER BY amt DESC
    </select>
	
	
	<select id="queryCustomerRepayment" resultType="com.linkwee.api.response.tc.RepaymentResponse">
		SELECT
			u.mobile mobile,
			u.user_name NAME,
			i.head_image image,
			a.invest_amt amt,
			a.profit profit,
			a.start_time startDate,
			a.end_time endDate,
			b.fee_amount feeAmt,
			b.fee_rate feeRate,
			d.product_name productName,
			d.is_flow isflow,
			d.flow_max_rate flowMaxRate,
			d.flow_min_rate flowMinRate,
			is_redemption investState,
			o.`name` platfrom
		FROM
			tcrm_investor i
		LEFT JOIN tcrm_user_info u ON i.user_id = u.user_id
		LEFT JOIN tcim_product_invest_record a ON i.user_id = a.user_id
		LEFT JOIN tcim_fee b ON b.profit_cfplanner_id = i.cfplanner AND a.invest_id = b.bill_id
		AND b.fee_type = '1001'
		LEFT JOIN tcim_product d ON a.product_id = d.product_id
		LEFT JOIN tcim_org_info o ON a.platfrom=o.org_number
		WHERE
		1=1 
		<if test="null != customerId and '' != customerId">
			AND i.user_id =  #{customerId}
		</if>
		AND i.cfplanner =  #{userId}
		AND a. STATUS = 1
		<!-- <if test="null == customerId">
			AND DATE(a.end_time) BETWEEN #{start} AND #{end}
		</if> -->
		ORDER BY a.end_time
	</select>
	
	<select id="queryCustomerInvestTradeMsgCount" resultType="int">
		<![CDATA[ 
			SELECT
				count(*)
			FROM
				tcim_product_invest_record a
			LEFT JOIN tcim_fee b ON a.invest_id = b.bill_id
			AND b.fee_type = '1001'
			WHERE
				a.`status` = 1
			AND b.profit_cfplanner_id = #{userId} AND a.create_time > DATE_FORMAT(#{readTime},'%Y-%m-%d %H:%i:%s')
		]]> 
	</select>
	
	<select id="queryCustomerRepaymentTradeMsgCount" resultType="int">
		<![CDATA[ 
			SELECT
				count(*)
			FROM
				tcim_product_repayment_record a WHERE a.user_id IN (SELECT i.user_id from tcrm_investor i where i.cfplanner=#{userId}) AND a.repayment_time > DATE_FORMAT(#{readTime},'%Y-%m-%d %H:%i:%s')
		]]> 
	</select>
	
	
	<select id="queryCustomerInvestTradeMsg" resultType="com.linkwee.api.response.tc.CustomerTradeMsgResponse">
		SELECT
			u.user_id,
			u.mobile mobile,
			u.user_name NAME,
			p.product_name productName,
			p.is_flow isflow,
			p.flow_max_rate flowMaxRate,
			p.flow_min_rate flowMinRate,
			f.fee_rate feeRate,
			f.fee_amount feeAmt,
			f.remark remark,
			a.create_time time,
			a.invest_amt amt,
			str_to_date('${readTime}','%Y-%m-%d %H:%i:%s') readTime,
			a.start_time startDate,
			a.end_time endDate,
			o.`name` platfrom
		FROM
			tcim_product_invest_record a
			
		LEFT JOIN tcrm_investor iu  ON a.user_id = iu.user_id
		
		LEFT JOIN tcrm_user_info u ON a.user_id = u.user_id
		
		LEFT JOIN tcim_fee f ON iu.cfplanner =f.profit_cfplanner_id AND a.invest_id = f.bill_id
				
		AND f.fee_type = '1001'
		
		LEFT JOIN tcim_product p ON a.product_id = p.product_id 
		LEFT JOIN tcim_org_info o ON a.platfrom=o.org_number
		
		WHERE
			a.user_id IN (
				SELECT
					i.user_id
				FROM
					tcrm_investor i
				WHERE
				1=1
				<if test="null != customerId and '' != customerId">
					AND i.user_id=#{customerId}
				</if>
				AND i.cfplanner = #{userId}
			)
		AND a.`status` = 1 
		AND f.profit_cfplanner_id= #{userId}
		ORDER BY
			a.start_time DESC
	</select>
	
	
	
	
	<select id="queryCustomerRepaymentTradeMsg" resultType="com.linkwee.api.response.tc.CustomerTradeMsgResponse">
	
		SELECT
			b.user_id,
			b.mobile mobile,
			b.user_name NAME,
			str_to_date('${readTime}','%Y-%m-%d %H:%i:%s') readTime,
			a.repayment_time time,
			a.repayment_amt amt,
			a.profit profit,
			c.product_name productName,
			c.is_flow isflow,
			c.flow_max_rate flowMaxRate,
			c.flow_min_rate flowMinRate,
			f.fee_rate feeRate,
			f.fee_amount feeAmt,
			o.`name` platfrom
		FROM
			tcim_product_repayment_record a
		LEFT JOIN tcrm_investor iu  ON a.user_id = iu.user_id
		LEFT JOIN tcrm_user_info b ON a.user_id = b.user_id
		LEFT JOIN tcim_product c ON a.product_id = c.product_id
		LEFT JOIN tcim_product_invest_record i ON a.invest_record_id = i.invest_record_no
		LEFT JOIN tcim_fee f ON iu.cfplanner =f.profit_cfplanner_id AND i.invest_id = f.bill_id
		LEFT JOIN tcim_org_info o ON i.platfrom=o.org_number
		<where>
			a.user_id IN 
			(
				SELECT
					user_id
				FROM
					tcrm_investor
					<where>
						1=1
						<if test="null != customerId and '' != customerId">
							AND user_id = #{customerId}
						</if>
						AND cfplanner =  #{userId}
					</where>
			) 
			AND f.profit_cfplanner_id=#{userId}
		</where>
		ORDER BY a.repayment_time DESC
		
		<!-- WHERE
			a.user_id IN 
			(
				SELECT
					user_id
				FROM
					tcrm_investor
				WHERE
					1=1
			
					AND cfplanner = 'dfaedfbbf40b44e0a6ad2659471569b4'
			) AND f.profit_cfplanner_id='dfaedfbbf40b44e0a6ad2659471569b4'
			AND f.fee_type = '1001'
			ORDER BY a.repayment_time DESC
	
	
		SELECT
			b.user_id,
			b.mobile mobile,
			b.user_name NAME,
			str_to_date('${readTime}','%Y-%m-%d %H:%i:%s') readTime,
			a.repayment_time time,
			a.repayment_amt amt,
			a.profit profit,
			c.product_name productName,
			c.is_flow isflow,
			c.flow_max_rate flowMaxRate,
			c.flow_min_rate flowMinRate,
			d.feeRate,
			d.fee_amount feeAmt
		FROM
			tcim_product_repayment_record a
		LEFT JOIN tcrm_user_info b ON a.user_id = b.user_id
		LEFT JOIN tcim_product c ON a.product_id = c.product_id
		LEFT JOIN (
			SELECT
				a.invest_record_no,
				b.fee_amount,
				b.fee_rate feeRate,
				b.profit_cfplanner_id
			FROM
				tcim_product_invest_record a
			LEFT JOIN tcim_fee b ON a.invest_id = b.bill_id
			AND b.fee_type = '1001'
		) d ON a.invest_record_id = d.invest_record_no
		WHERE
			a.user_id IN 
			(
				SELECT
					user_id
				FROM
					tcrm_investor
				WHERE
					1=1
				<if test="null != customerId and '' != customerId">
					AND user_id=#{customerId}
				</if>
					AND cfplanner = #{userId}
			) AND d.profit_cfplanner_id=#{userId} ORDER BY a.repayment_time DESC -->
	</select>
	
	
	
	<select id="queryCustomerTradeMsg" resultType="com.linkwee.api.response.tc.CustomerTradeMsgResponse">
		SELECT * FROM (SELECT
			p.product_name productName,
			p.is_flow isflow,
			p.flow_max_rate flowMaxRate,
			p.flow_min_rate flowMinRate,
			f.fee_rate feeRate,
			f.fee_amount feeAmt,
			a.create_time time,
			a.invest_amt amt,
			a.profit profit,
			a.start_time startDate,
			a.end_time endDate,
			1 type
		FROM
			tcim_product_invest_record a
		LEFT JOIN tcrm_investor iu  ON a.user_id = iu.user_id
		LEFT JOIN tcim_fee f ON 
		iu.cfplanner = f.profit_cfplanner_id AND
		a.invest_id = f.bill_id
		AND f.fee_type = '1001'
		
		LEFT JOIN tcim_product p ON a.product_id = p.product_id
		WHERE
			a.user_id = #{customerId}
		AND a.`status` = 1
		AND f.profit_cfplanner_id = #{userId}
		
		UNION ALL
		
			SELECT
				c.product_name productName,
				c.is_flow isflow,
				c.flow_max_rate flowMaxRate,
				c.flow_min_rate flowMinRate,
				f.fee_rate feeRate,
				f.fee_amount feeAmt,
				a.repayment_time time,
				a.repayment_amt amt,
				a.profit profit,
				b.start_time startDate,
				b.end_time endDate,
				2 type
			FROM
				tcim_product_repayment_record a
				
			LEFT JOIN tcrm_investor iu  ON a.user_id = iu.user_id
			
			LEFT JOIN tcim_product_invest_record b ON a.invest_record_id = b.invest_record_no
		
			LEFT JOIN tcim_fee f ON 
			
				iu.cfplanner = f.profit_cfplanner_id AND
				b.invest_id = f.bill_id
				AND f.fee_type = '1001'
				
			LEFT JOIN tcim_product c ON a.product_id = c.product_id
			WHERE
				a.user_id = #{customerId}
			AND f.profit_cfplanner_id = #{userId}) a ORDER BY a.time desc
		
	</select>
	
	<select id="queryCfpNewlyDynamic" resultType="com.linkwee.api.response.tc.TradeNewlyDynamicResponse">
	<![CDATA[ 
	SELECT 
	DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%i') as time,
	t.remark as content,
	CASE t.fee_type
	WHEN '1001' THEN
	1
	WHEN '1002' THEN
	2
	END customertype,
 	CASE 
	WHEN t.fee_type = '1001' THEN 	t.investor_id
  	WHEN  t.fee_type = '1002'  and t.fee_rate = 25 then  t.origin_cfplanner_id
	WHEN  t.fee_type = '1002'  and t.fee_rate = 5 then  (select tcfp.parent_id from  tcrm_cfplanner tcfp where tcfp.user_id = t.origin_cfplanner_id) 
	END userId,
 	(case when t.create_time <= '${date}' then true else false end) readFlag
	FROM
	tcim_fee t
	WHERE
	(
	t.fee_type = '1001'
	OR t.fee_type = '1002'
	)
	AND t.profit_cfplanner_id = #{userId}
	ORDER BY t.create_time DESC
	 ]]>
	</select>
	
	<select id="queryCfpNewlyDynamicUnReadCount" resultType="int">
	<![CDATA[ 
	SELECT 
	count(t.id)
	FROM
	tcim_fee t
	WHERE
	(
	t.fee_type = '1001'
	OR t.fee_type = '1002'
	)
	AND t.profit_cfplanner_id =  #{userId}
    and  t.create_time >= '${date}'
	 ]]>
	</select>
	
	<!-- 根据产品编号查询在投投资记录 -->
	<select id="getInvestRecordByProductIds" resultMap="BaseResultMap">
		SELECT
			t.invest_id,
			t.invest_record_no,
			t.user_id,
			t.product_id,
			t.product_fee_rate,
			t.invest_amt,
			t.platfrom,
			t.start_time,
			t.is_first_invest,
			t.is_platfrom_first_invest
		FROM
			tcim_product_invest_record t
		WHERE
			t.product_id 
			<foreach collection="productIds" item="productId" open="IN (" separator="," close=")">
				#{productId}
			</foreach>
			AND t.status=1


	</select>
	<!-- 查询机构当月投资总额 -->
	<select id="queryMonthInvestAmount" resultType="java.math.BigDecimal">
		SELECT
		SUM(t.invest_amt)
		FROM
		tcim_product_invest_record t
		WHERE
		t.platfrom = #{orgNumber}
		AND DATE_FORMAT(t.start_time, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m')
	</select>
	
	<!-- 查询用户投资次数 -->
	<select id="queryUserInvestCount" resultType="int">
		SELECT
			count(*)
		FROM
			(
				SELECT
					invest_id
				FROM
					tcim_product_invest_record
				WHERE
					user_id = #{userId}
				UNION
					SELECT
						invest_id
					FROM
						tcim_product_unrecord_invest
					WHERE
						user_id = #{userId}
			) a
	<!-- SELECT COUNT(invest_id) FROM tcim_product_invest_record  WHERE user_id=#{userId} -->
	</select>
	
	<!-- 查询用户平台投资次数 -->
	<select id="queryUserPlatfromInvestCount" resultType="int">
		SELECT COUNT(invest_id) FROM tcim_product_invest_record WHERE platfrom=#{platfromId} AND user_id=#{userId}
	</select>
	
	<select id="queryPlatfromInvestCount" resultType="string">
		SELECT 
			platfrom
		FROM tcim_product_invest_record WHERE  
			user_id=#{userId} 
			AND platfrom IN
			<foreach collection="platfromIds" item="platfrom" open="(" separator="," close=")">
				#{platfrom}
			</foreach>
			AND is_platfrom_first_invest=1
	</select>
	
	
	<select id="getInvestRecordCounts" resultType="map">
		SELECT
			IFNULL(
				count(
					CASE
					WHEN i.`status` = 1 THEN
						1
					ELSE
						NULL
					END
				),
				0
			) tzz,
			IFNULL(
				count(
					CASE
					WHEN i.`status` = 2 THEN
						1
					ELSE
						NULL
					END
				),
				0
			) hkz,
			IFNULL(
				count(
					CASE
					WHEN i.`status` = 3 THEN
						1
					ELSE
						NULL
					END
				),
				0
			) hkwc,
			(
				SELECT
					IFNULL(
						count(
							CASE
							WHEN u.`status` = 1 THEN
								1
							ELSE
								NULL
							END
						),
						0
					)
				FROM
					tcim_product_unrecord_invest u
				WHERE
					u.user_mobile = (
						SELECT
							mobile
						FROM
							tcrm_investor i
						WHERE
							i.user_id = #{userId}
					)
			) qt
		FROM
			tcim_product_invest_record i
		WHERE
			i.user_id = #{userId}
	</select>
</mapper>