<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkwee.web.dao.CrmOrgAcctRelMapper">
	<!-- Result Map-->
	<resultMap  type="com.linkwee.web.model.CrmOrgAcctRel" id="BaseResultMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="org_account_type" property="orgAccountType" jdbcType="INTEGER"/>
		<result column="org_account" property="orgAccount" jdbcType="VARCHAR"/>
		<result column="org_number" property="orgNumber" jdbcType="VARCHAR"/>
		<result column="is_invested" property="isInvested" jdbcType="INTEGER"/>
		<result column="is_new_user" property="isNewUser" jdbcType="INTEGER"/>
		<result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="del_status" property="delStatus" jdbcType="INTEGER"/>
	</resultMap>
	
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
	    	id,
	    	user_id,
	    	org_account_type,
	    	org_account,
	    	org_number,
	    	is_invested,
	    	is_new_user,
	    	creat_time,
	    	update_time,
	    	del_status,
    </trim>
  </sql>
  
    <sql id="Base_Column_List_T">
    <trim suffixOverrides=",">
	    	t.id,
	    	t.user_id,
	    	t.org_account_type,
	    	t.org_account,
	    	t.org_number,
	    	t.is_invested,
	    	t.is_new_user,
	    	t.creat_time,
	    	t.update_time,
	    	t.del_status,
    </trim>
   </sql>  
  
  <sql id="Base_Condition">
		<if test=" null != id ">
			and id = #{id}
		</if>
		<if test=" null != userId and ''!= userId  ">
			and user_id = #{userId}
		</if>
		<if test=" null != orgAccountType ">
			and org_account_type = #{orgAccountType}
		</if>
		<if test=" null != orgAccount and ''!= orgAccount  ">
			and org_account = #{orgAccount}
		</if>
		<if test=" null != orgNumber and ''!= orgNumber  ">
			and org_number = #{orgNumber}
		</if>
		<if test=" null != isInvested ">
			and is_invested = #{isInvested}
		</if>
		<if test=" null != isNewUser ">
			and is_new_user = #{isNewUser}
		</if>
		<if test=" null != creatTime ">
			and creat_time = #{creatTime}
		</if>
		<if test=" null != updateTime ">
			and update_time = #{updateTime}
		</if>
		<if test=" null != delStatus ">
			and del_status = #{delStatus}
		</if>
  </sql>
  
  <select id="selectOneByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CrmOrgAcctRel">
		select <include refid="Base_Column_List" /> from tcrm_org_acct_rel 
		where 1=1 <include refid="Base_Condition" />
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="com.linkwee.web.model.CrmOrgAcctRel">
		select <include refid="Base_Column_List" /> from tcrm_org_acct_rel 
		where 1=1 <include refid="Base_Condition" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcrm_org_acct_rel
    where  id = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcrm_org_acct_rel
    where id = #{0}
  </delete>

  <insert id="insert" parameterType="com.linkwee.web.model.CrmOrgAcctRel" >
    INSERT INTO tcrm_org_acct_rel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != orgAccountType ">
					org_account_type,
				</if>
			 	<if test=" null != orgAccount and ''!= orgAccount  ">
					org_account,
				</if>
			 	<if test=" null != orgNumber and ''!= orgNumber  ">
					org_number,
				</if>
			 	<if test=" null != isInvested ">
					is_invested,
				</if>
			 	<if test=" null != isNewUser ">
					is_new_user,
				</if>
			 	<if test=" null != creatTime ">
					creat_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != delStatus ">
					del_status,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != orgAccountType ">
					 	#{orgAccountType},
				</if>
			 	<if test=" null != orgAccount and ''!= orgAccount  ">
					 	#{orgAccount},
				</if>
			 	<if test=" null != orgNumber and ''!= orgNumber  ">
					 	#{orgNumber},
				</if>
			 	<if test=" null != isInvested ">
					 	#{isInvested},
				</if>
			 	<if test=" null != isNewUser ">
					 	#{isNewUser},
				</if>
			 	<if test=" null != creatTime ">
					 	#{creatTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != delStatus ">
					 	#{delStatus},
				</if>
		</trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.linkwee.web.model.CrmOrgAcctRel" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO tcrm_org_acct_rel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					id,
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					user_id,
				</if>
			 	<if test=" null != orgAccountType ">
					org_account_type,
				</if>
			 	<if test=" null != orgAccount and ''!= orgAccount  ">
					org_account,
				</if>
			 	<if test=" null != orgNumber and ''!= orgNumber  ">
					org_number,
				</if>
			 	<if test=" null != isInvested ">
					is_invested,
				</if>
			 	<if test=" null != isNewUser ">
					is_new_user,
				</if>
			 	<if test=" null != creatTime ">
					creat_time,
				</if>
			 	<if test=" null != updateTime ">
					update_time,
				</if>
			 	<if test=" null != delStatus ">
					del_status,
				</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id ">
					 	#{id},
				</if>
			 	<if test=" null != userId and ''!= userId  ">
					 	#{userId},
				</if>
			 	<if test=" null != orgAccountType ">
					 	#{orgAccountType},
				</if>
			 	<if test=" null != orgAccount and ''!= orgAccount  ">
					 	#{orgAccount},
				</if>
			 	<if test=" null != orgNumber and ''!= orgNumber  ">
					 	#{orgNumber},
				</if>
			 	<if test=" null != isInvested ">
					 	#{isInvested},
				</if>
			 	<if test=" null != isNewUser ">
					 	#{isNewUser},
				</if>
			 	<if test=" null != creatTime ">
					 	#{creatTime},
				</if>
			 	<if test=" null != updateTime ">
					 	#{updateTime},
				</if>
			 	<if test=" null != delStatus ">
					 	#{delStatus},
				</if>
		</trim>
	</insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.linkwee.web.model.CrmOrgAcctRel" >
  		UPDATE tcrm_org_acct_rel
		<set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != orgAccountType ">
						org_account_type = #{orgAccountType},
					</if>
					<if test=" null != orgAccount and ''!= orgAccount  ">
						org_account = #{orgAccount},
					</if>
					<if test=" null != orgNumber and ''!= orgNumber  ">
						org_number = #{orgNumber},
					</if>
					<if test=" null != isInvested ">
						is_invested = #{isInvested},
					</if>
					<if test=" null != isNewUser ">
						is_new_user = #{isNewUser},
					</if>
					<if test=" null != creatTime ">
						creat_time = #{creatTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != delStatus ">
						del_status = #{delStatus},
					</if>
			</trim>
		</set>
		<where>
			 id = #{id}
		</where>
	</update>
  
	<update id="updateByPrimaryKey" parameterType="com.linkwee.web.model.CrmOrgAcctRel" >
	    UPDATE tcrm_org_acct_rel
	   <set>
			<trim suffixOverrides=",">
					<if test=" null != userId and ''!= userId  ">
						user_id = #{userId},
					</if>
					<if test=" null != orgAccountType ">
						org_account_type = #{orgAccountType},
					</if>
					<if test=" null != orgAccount and ''!= orgAccount  ">
						org_account = #{orgAccount},
					</if>
					<if test=" null != orgNumber and ''!= orgNumber  ">
						org_number = #{orgNumber},
					</if>
					<if test=" null != isInvested ">
						is_invested = #{isInvested},
					</if>
					<if test=" null != isNewUser ">
						is_new_user = #{isNewUser},
					</if>
					<if test=" null != creatTime ">
						creat_time = #{creatTime},
					</if>
					<if test=" null != updateTime ">
						update_time = #{updateTime},
					</if>
					<if test=" null != delStatus ">
						del_status = #{delStatus},
					</if>
			</trim>
		</set>
		<where>
			id = #{0}
		</where>
	  </update>

	<!-- 分页条件查询 -->
    <select id="selectBySearchInfo" resultMap="BaseResultMap" parameterType="com.linkwee.core.datatable.DataTable">
        SELECT
        <include refid="Base_Column_List" />
        FROM tcrm_org_acct_rel
        <where> 
        <if test="dt.search!=null">  
                name LIKE CONCAT('%','${dt.search.value}','%' )  
         </if>  
         <if test="dt.order!=null">  
               <foreach collection="dt.order" index="index" item="item"
                    open="order by" separator="," close=" ">
                    ${item.name} ${item.dir} 
                </foreach>
         </if>  
        </where>
    </select>

</mapper>